{% extends "assistente_base.html" %}

{% block content %}
    <p style="text-align:center">O assistente mairimed encontra-se em fase de desenvolvimento.</p>

    <div class="row">

      <div class="col-md-3">
        <div class="anuncio-top">
          <p style="font-size: 12px; color: #666; text-align: center;">PUBLICIDADE</p>
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- anuncio1 -->
          <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-5705627321786233"
             data-ad-slot="5686167727"
             data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>

      <!-- Dialogo com o Bot -->

      <div class="col-md-6">

        <div id="wrap" class="col-xs-6 offset-xs-3">
          <div class="mairi-card mairi-container">
            <ul class="list-group chat-log js-chat-log">
            </ul>
          </div>

          <div class="input-group input-group-lg mt-1">
            <input type="text" class="form-control js-text" placeholder="Digite uma mensagem..."/>
            <span class="input-group-btn">
              <button class="btn btn-primary js-say">Enviar</button>
            </span>
          </div>
        </div>
        <div class="" style="text-align: center">
          <ul>
            
          </ul>
        </div>
        <div><p style="font-size:12px; color:grey; text-align:center">O conteúdo sobre fármacos é baseado nas informações fornecidas pela Anvisa, combinadas com informações adicionais da literatura médica.</p></div>
      </div>

        <div class="col-md-3">
          <div class="anuncio">
            <p style="font-size: 12px; color: #666; text-align: center;">PUBLICIDADE</p>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- anuncio1 -->
            <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-5705627321786233"
               data-ad-slot="5686167727"
               data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </div>

      </div>

      <div class="anuncio-top">
        <p style="font-size: 12px; color: #666; text-align: center;">PUBLICIDADE</p>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- anuncio1 -->
        <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-5705627321786233"
           data-ad-slot="5686167727"
           data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <p style="color: #666; text-align:center;">...</p>
      </div>
{% endblock %}
