<!doctype html>
{% extends "educacao_base.html" %}
{% load quiz_tags %}
{% load i18n %}
{% load staticfiles%}

{% block form-nav %}
<ul class="navbar-nav px-3">
  {% if request.user.is_authenticated %}
  <li class="nav-item text-nowrap">
      <a href="{% url 'logout' %}" class="btn btn-outline-light">Sair</a>
  </li>
  {% else %}
  <li class="nav-item text-nowrap">
      <a href="{% url 'entrar' %}" class="btn btn-outline-light">Entrar</a>
  </li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <!-- anuncio1 -->
  <div class="anuncio-top">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5705627321786233"
         data-ad-slot="5686167727"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <div class="artigo">
      {% if request.user.is_authenticated %}
        <h1 class="h2">Bem vindo, {{ user.perfilusuario.primeiro_nome }} {{ user.perfilusuario.ultimo_nome }}</h1>
      {% else %}
        <h1 class="h2">Bem vindo à área de estudos</h1>
      {% endif %}
      <p>Na área Estudante você encontrará resumos, exercícios e simulados sobre os diversos temas da medicina.</p>
    </div>
  </div>

  <!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->
  {% if request.user.is_authenticated %}
    <p>Abaixo você confere a porcentagem de acertos em cada categoria, mais detalhes podem ser acompanhados na página <a href="{% url 'quiz_progress' %}">Desempenho</a></p>

    <div class="row">
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart1" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart2" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart3" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart4" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart5" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart6" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart7" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart8" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart9" width="900" height="300"></canvas>
      </div>
      <div class="col-md-4">
          <canvas class="my-4" id="exerciciosChart10" width="900" height="300"></canvas>
      </div>
    </div>

  {% else %}

  {% endif %}

</main>

{% endblock %}

{% block grafico %}

{% if cat_scores %}

<h2>{{ cat }}</h2>
<script>
  // var ctx = document.getElementById("myChart");
  // var myChart = new Chart(ctx, {
  //   type: 'line',
  //   data: {
  //     labels: ["Acertos", "Erros", "Percentagem"],
  //     datasets: [{
  //       data: ["{{value.0}}", "{{value.1}}", "{{value.2}}"],
  //       lineTension: 0,
  //       backgroundColor: 'transparent',
  //       borderColor: '#ff9400',
  //       borderWidth: 4,
  //       pointBackgroundColor: '#ff9400'
  //     }]
  //   },
  //   options: {
  //     scales: {
  //       yAxes: [{
  //         ticks: {
  //           beginAtZero: false
  //         }
  //       }]
  //     },
  //     legend: {
  //       display: false,
  //     }
  //   }
  // });

"{% for cat, value in cat_scores.items %}"
  var ctx = document.getElementById("exerciciosChart{{ forloop.counter }}");
    var exerciciosChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["{{ cat }}", ""],
            datasets: [{
                label: '',
                data: ["{{ value.2 }}", 100],
                backgroundColor: [
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 159, 64, 0)',

                ],
                borderColor: [
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 159, 64, 0)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
"{% endfor %}"
</script>

{% endif %}

<!-- {% if exams %}
  <tr>
  <td>{{ exam.quiz.title }}</td>
  <td>{{ exam.current_score }}</td>
  <td>{{ exam.get_max_score }}</td>
  <td>{{ exam.get_percent_correct }}</td>
  </tr>
{% endif %} -->

{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    {% if request.user.is_authenticated %}
      <a href="{% url 'inicio' %}">
        <!-- <img class="avatar" src="{{ user.perfilestudante.gravatar_url }}"> -->
        <i class="material-icons" style="font-size: 30px; padding-bottom: 3px; vertical-align: middle;">perm_identity</i>
        <span style="" class="name">{{ user.perfilusuario.primeiro_nome }} {{ user.perfilusuario.ultimo_nome }}</span>
      </a>
    {% else %}

    {% endif %}
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link active" href="{% url 'educacao_medica' %}">
        <h1><span data-feather="home"></span> Início</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span> Cíclo Básico</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_clinico' %}">
        <h1><span data-feather="activity"></span> Cíclo Clínico</h1></a>
      <a class="bd-toc-link" href="{% url 'escs' %}">
        <h1><img src="{% static 'img/escs.svg' %}" style="padding-bottom: 3px; vertical-align: middle;" width="40" height="45" alt=""> ESCS</h1></a>
      <a class="bd-toc-link" href="{% url 'diretrizes_in' %}">
        <h1><span data-feather="book-open"></span>Diretrizes</h1></a>
      <a class="bd-toc-link" href="{% url 'exercicios' %}">
        <h1><span data-feather="clipboard"></span> Exercícios</h1></a>
      {% if request.user.is_authenticated %}
        <a class="bd-toc-link" href="{% url 'simulado_lista' %}">
          <h1><span data-feather="layers"></span> Simulados</h1></a>
        <a class="bd-toc-link" href="{% url 'quiz_progress' %}">
          <h1><span data-feather="bar-chart-2"></span> Desempenho</h1></a>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <!-- <span>Favoritos</span>
            <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a> -->
        </h6>
      {% else %}
        <a class="bd-toc-link not-active" href="{% url 'simulado_lista' %}">
          <h1><span data-feather="layers"></span> Simulados<i class="material-icons" style="font-size: 15px; padding-bottom: 3px; vertical-align: middle;">lock</i></h1></a>
        <a class="bd-toc-link not-active" href="{% url 'quiz_progress' %}">
          <h1><span data-feather="bar-chart-2"></span> Desempenho<i class="material-icons" style="font-size: 15px; padding-bottom: 3px; vertical-align: middle;">lock</i></h1></a>
        <a class="bd-toc-link not-active" href="{% url 'perfil' %}">
          <h1><i class="material-icons" style="font-size: 30px; padding-bottom: 3px; vertical-align: middle;">perm_identity</i>
          Perfil<i class="material-icons" style="font-size: 15px; padding-bottom: 3px; vertical-align: middle;">lock</i></h1></a>
      {% endif %}
    </div>
  </nav>

</div>

{% endblock %}
