{% extends "inicio_base_novo.html" %}
{% load staticfiles%}
{% load hitcount_tags %}

<!-- {% block navpatologia %}
  {% for patologia in patologias %}
    {% if forloop.counter < 5 %}
      <a href="{% url 'patologias_portal' patologia_name=patologia.patologia %}">
        {{ patologia.patologia }}
      </a>
    {% endif %}
  {% endfor %}
{% endblock %} -->

{% block content %}

{% endblock %}

{% block barra-esquerda %}

{% endblock %}

<!-- PAGINA GERAL -->

{% block carousel %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="mairi-card mairi-container" style="min-height:400px">
        <div class="anuncio-slider">

          {% for materia in materias %}
            {% if materia.destaque_geral1 == True %}
            <div>
              <a href="{% url 'detalhe_materia' slug=materia.url %}"><img class="third-slide" src="{{ materia.figura_maior.url }}" height='350' width="100%" alt="Third slide"></a>
                <div>
                  <p><a href="{% url 'detalhe_materia' slug=materia.url %}">
                  {{ materia.titulo }}
                  </a></p>
                  <!-- <p>{{materia.titulo_figura_texto}}</p> -->
                </div>
            </div>
            {% endif %}
          {% endfor %}

          {% for materia in materias %}
            {% if materia.destaque_geral2 == True %}
            <div>
              <a href="{% url 'detalhe_materia' slug=materia.url %}"><img class="third-slide" src="{{ materia.figura_maior.url }}" height='350' width="100%" alt="Third slide"></a>
                <div>
                  <p><a href="{% url 'detalhe_materia' slug=materia.url %}">
                  {{ materia.titulo }}
                </a></p>
                </div>
            </div>
            {% endif %}
          {% endfor %}
          {% for materia in materias %}
            {% if materia.destaque_geral3 == True %}
            <div>
              <a href="{% url 'detalhe_materia' slug=materia.url %}"><img class="third-slide" src="{{ materia.figura_maior.url }}" height='350' width="100%" alt="Third slide"></a>
                <div>
                  <p><a href="{% url 'detalhe_materia' slug=materia.url %}">
                  {{ materia.titulo }}
                  </a></p>
                </div>
            </div>
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>

    <!-- PROPAGANDA -->

    <div class="col-md-6">
      <div class="mairi-card mairi-container" style="min-height:400px">

      </div>
    </div>

      <!-- ASSUNTOS -->

        <div class="col-md-3">
          <div class="mairi-card-azul mairi-container" style="min-height:460px">
            <a href="{% url 'saude_portal' %}"><br><h1>SAÚDE</h1></a>
              <hr>
              {% for materia in materia_saude %}
                {% if materia.assunto|stringformat:"s" == "SAÚDE" %}
                <div class="topicosdiv">
                  <a href="{% url 'detalhe_materia' slug=materia.url %}"><img src="{{ materia.figura_menor.url }}" height='50' width="50"></a>
                  <p style="margin-left:15px"><a href="{% url 'detalhe_materia' slug=materia.url %}">
                  {{ materia.titulo }}
                  </a></p>
                </div>
                {% endif %}
              {% endfor %}
              <hr>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mairi-card-verde mairi-container" style="min-height:460px">
            <a href="{% url 'alimentacao_portal' %}"><br><h1>ALIMENTAÇÃO</h1></a>
              <hr>
              {% for materia in materia_alimentacao %}
                {% if materia.assunto|stringformat:"s" == "ALIMENTAÇÃO" %}
                <div class="topicosdiv">
                  <a href="{% url 'detalhe_materia' slug=materia.url %}"><img src="{{ materia.figura_menor.url }}" height='50' width="60"></a>
                  <p style="margin-left:15px"><a href="{% url 'detalhe_materia' slug=materia.url %}">
                  {{ materia.titulo }}
                  </a></p>
                </div>
                {% endif %}
              {% endfor %}
              <hr>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mairi-card-vermelho mairi-container" style="min-height:460px">
            <a href="{% url 'exercicios_portal' %}"><br><h1>EXERCÍCIO FÍSICO</h1></a>
              <hr>
              {% for materia in materia_exercicio %}
                {% if materia.assunto|stringformat:"s" == "EXERCÍCIO FÍSICO" %}
                <div class="topicosdiv">
                  <a href="{% url 'detalhe_materia' slug=materia.url %}"><img src="{{ materia.figura_menor.url }}" height='50' width="50"></a>
                  <p style="margin-left:15px"><a href="{% url 'detalhe_materia' slug=materia.url %}">
                  {{ materia.titulo }}
                  </a></p>
                </div>
                {% endif %}
              {% endfor %}
              <hr>
          </div>
        </div>

        <div class="col-md-3">
          <div class="mairi-card-amarelo mairi-container" style="min-height:460px">
            <a href="{% url 'bemestar_portal' %}"><br><h1>BEM-ESTAR</h1></a>
              <hr>
              {% for materia in materia_bemestar %}
                <div class="topicosdiv">
                  <a href="{% url 'detalhe_materia' slug=materia.url %}"><img src="{{ materia.figura_menor.url }}" height='50' width="50"></a>
                  <p style="margin-left:15px"><a href="{% url 'detalhe_materia' slug=materia.url %}">
                  {{ materia.titulo }}
                  </a></p>
                </div>
              {% endfor %}
              <hr>
          </div>
        </div>

      </div>

      <div class="mytextdiv">
        <div class="divider"></div>
        <div class="mytexttitle">
          CONHEÇA A DOENÇA
        </div>
        <div class="divider"></div>
      </div>

      <!-- PATOLOGIAS -->

      <div class="row">
        <div class="col-md-1">
          <div class="arrows">
            <p class="prev"> < </p>
          </div>
        </div>
        <div class="col-md-10">
        <div class="divs-slider">

      {% for patologia in patologias %}
          <div class="mairi-card-laranja mairi-container" style="min-height:400px; padding: 20px;">
                <a href="{% url 'patologias_portal' patologia_name=patologia.patologia %}">
                  <br><h1>{{ patologia.patologia }}</h1>
                </a>
                  <hr>
                  {% for materia in materias %}
                    {% if materia.destaque_patologia %}
                      {% if patologia.patologia|stringformat:"s" == materia.patologia|stringformat:"s" %}
                      <div class="topicosdiv">
                        <a href="{% url 'detalhe_materia' slug=materia.url %}"><img src="{{ materia.figura_menor.url }}" height='50' width="50"></a>
                        <p style="margin-left:15px"><a href="{% url 'detalhe_materia' slug=materia.url %}">
                        {{ materia.titulo }}
                        </a></p>
                      </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  <hr>
            </div>
      {% endfor %}

        </div>

        </div>
        <div class="arrows2">
          <p class="prev"> < </p>
          <hr>
          <p class="next" style="margin-left:300px"> > </p>
        </div>
        <div class="col-md-1">
          <div class="arrows">
            <p class="next"> > </p>
          </div>
        </div>
      </div>


    <!-- START THE FEATURETTES -->

    <div class="mytextdiv">
      <div class="divider"></div>
      <div class="mytexttitle">
        MEDICINA
      </div>
      <div class="divider"></div>
    </div>

  <div class="row">
      <div class="col-md-12">
        <div class="mairi-card-laranja row mairi-container">
          <div class="col-md-7">
            <br><h1 class="featurette-heading" style="color:#d45500">RESUMOS DE MEDICINA</h1><br>
            <p class="lead">Divididos por especialidade.</p>
            <p><a class="btn btn-lg btn-light" href="{% url 'ciclo_clinico' %}" role="button">Acessar Resumos</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/mairimed_topico1.svg' %}" width="500" height="200" alt="Generic placeholder image">
          </div>
        </div>

        <div class="mairi-card-laranja row mairi-container">
          <div class="col-md-7 push-md-5">
            <br><h1 class="featurette-heading" style="color:#d45500">EXERCÍCIOS DE MEDICINA</h1><br>
            <p class="lead">Divididos por tema e especialidade.</p>
            <p><a class="btn btn-lg btn-light" href="{% url 'exercicios' %}" role="button">Acessar Exercícios</a></p>
          </div>
          <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/mairimed_topico2.svg' %}" width="500" height="200" alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>

  </div><!-- /.container -->

{% endblock %}
