{% extends "inicio_base.html" %}
{% load staticfiles%}
{% load hitcount_tags %}

{% block content %}

{% endblock %}

{% block barra-esquerda %}

{% endblock %}

{% block carousel %}

<div class="container">

  <div class="anuncio-top">
    <p style="font-size: 12px; color: #666; text-align: center;">PUBLICIDADE</p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- anuncio1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5705627321786233"
       data-ad-slot="5686167727"
       data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="mairi-card mairi-container" style="min-height:460px; background-color:#ff9400">
        <a class="" href="{% url 'chat' %}" style="">
          <img src="{% static 'img/assistente_mairimed.svg' %}" width="535px" height="460px" alt="">
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mairi-card mairi-container" style="min-height:460px; background-color:#1f1102">
        <a class="" href="{% url 'educacao_medica' %}" style="">
          <img src="{% static 'img/educacao_mairimed.svg' %}" width="535px" height="460px" alt="">
        </a>
      </div>
    </div>
  </div>

  <div class="mytextdiv">
    <div class="divider"></div>
    <div class="mytexttitle">
      ASSISTENTE MAIRIMED
    </div>
    <div class="divider"></div>
  </div>

  <div class="row">

    <!-- ASSISTENTE MAIRIMED -->

      <div class="col-md-3">
        <div class="mairi-card-azul mairi-container" style="min-height:460px">
          <a href="{% url 'doenca_portal' %}"><br><h1>DOENÇAS</h1></a>
            <hr>
            {% for doenca in doencas %}
              <div class="topicosdiv">
                <p style="margin-left:15px"><a href="{% url 'detalhe_doenca' slug=doenca.url %}">
                {{ doenca.nome }}
                </a></p>
              </div>
            {% endfor %}
            <hr>
        </div>
      </div>

      <div class="col-md-3">
        <div class="mairi-card-verde mairi-container" style="min-height:460px">
          <a href="{% url 'alimentos_portal' %}"><br><h1>ALIMENTAÇÃO</h1></a>
            <hr>
            {% for alimento in alimentos %}
              <div class="topicosdiv">
                <p style="margin-left:15px"><a href="{% url 'detalhe_alimento' slug=alimento.url %}">
                {{ alimento.nome }}
                </a></p>
              </div>
            {% endfor %}
            <hr>
        </div>
      </div>

      <div class="col-md-3">
        <div class="mairi-card-vermelho mairi-container" style="min-height:460px">
          <a href="{% url 'termos_portal' %}"><br><h1>TERMOS MÉDICOS</h1></a>
            <hr>
            {% for termo in termos %}
              <div class="topicosdiv">
                <p style="margin-left:15px"><a href="{% url 'detalhe_termo' slug=termo.url %}">
                {{ termo.nome }}
                </a></p>
              </div>
            {% endfor %}
            <hr>
        </div>
      </div>

      <div class="col-md-3">
        <div class="mairi-card-amarelo mairi-container" style="min-height:460px">
          <a href="{% url 'farmacos_portal' %}"><br><h1>FÁRMACOS</h1></a>
            <hr>
            {% for farmaco in farmacos %}
              <div class="topicosdiv">
                <p style="margin-left:15px"><a href="{% url 'detalhe_farmaco' slug=farmaco.url %}">
                {{ farmaco.nome }}
                </a></p>
              </div>
            {% endfor %}
            <hr>
        </div>
      </div>

  </div>

    <!-- EDUCACAO MAIRIMED -->

    <div class="mytextdiv">
      <div class="divider"></div>
      <div class="mytexttitle">
        EDUCAÇÃO MAIRIMED
      </div>
      <div class="divider"></div>
    </div>

  <div class="row">
      <div class="col-md-12">
        <div class="mairi-card-laranja row mairi-container">
          <div class="col-md-7">
            <br><h1 class="featurette-heading" style="color:#d45500">RESUMOS DE MEDICINA</h1><br>
            <p class="lead">Divididos por especialidade.</p>
            <p><a class="btn btn-lg btn-light" href="{% url 'ciclo_clinico' %}" role="button">Acessar Resumos</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/mairimed_topico1.svg' %}" width="500" height="200" alt="Generic placeholder image">
          </div>
        </div>

        <div class="mairi-card-laranja row mairi-container">
          <div class="col-md-7 push-md-5">
            <br><h1 class="featurette-heading" style="color:#d45500">EXERCÍCIOS DE MEDICINA</h1><br>
            <p class="lead">Divididos por tema e especialidade.</p>
            <p><a class="btn btn-lg btn-light" href="{% url 'exercicios' %}" role="button">Acessar Exercícios</a></p>
          </div>
          <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto" src="{% static 'img/mairimed_topico2.svg' %}" width="500" height="200" alt="Generic placeholder image">
          </div>
        </div>
      </div>
    </div>

    <p style="font-size: 12px; color: #666; text-align: center;">PUBLICIDADE</p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- anuncio1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5705627321786233"
       data-ad-slot="5686167727"
       data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <p style="font-size: 12px; color: #666; text-align: center;">...</p>

  </div><!-- /.container -->

{% endblock %}
