<!doctype html>
{% extends "educacao_base.html" %}
{% load quiz_tags %}
{% load i18n %}
{% load staticfiles%}

{% block form-nav %}

<ul class="navbar-nav px-3">
  <li class="nav-item text-nowrap">
      <a href="{% url 'usuarios' %}" class="btn btn-outline-light">Educação Médica</a>
  </li>
  {% if request.user.is_authenticated %}
  <li class="nav-item text-nowrap">
      <a href="{% url 'logout' %}" class="btn btn-outline-light">Sair</a>
  </li>
  {% else %}
  <li class="nav-item text-nowrap">
      <a href="{% url 'entrar' %}" class="btn btn-outline-light">Entrar</a>
  </li>
  {% endif %}
</ul>

{% endblock %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">
    <nav class="collapse bd-links" id="bd-docs-nav">
      <div class="bd-toc-item">
          <h1><span data-feather="home"></span> Contatos</h1>
      </div>
    </nav>
    <footer class="blog-footer">
      <div class="container">
        <p><a href="{% url 'termos_uso' %}">Termos de uso</a></p>
        <p><a href="{% url 'sobre' %}">Sobre mairimed.com</a></p>
        <p><a href="{% url 'contactus' %}">Contato</a></p>
        <p>&copy; 2017-2018 mairimed.com</p>
      </div>
    </footer>
</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

        <div class="artigo">
          <h2>Criar pergunta</h2>
          <p>
              <form action="/submit" method="post">
                {% for field in form %}{% csrf_token %}
                {{ field }}
                {% endfor %}
                <input type="hidden" value="{{ next_url }}" name="next_url">
                <input type="submit" value="Perguntar">
              </form>
          </p>
        </div>

        <div class="texto-centro">
          <h2>Perguntas feitas</h2>
        </div>
        {% for pergunta in perguntas %}
        <div class="artigo">
          <h4>{{ pergunta.content }}</h4>
          <a href="{% url 'usuario_publico' pk=pergunta.user.pk %}">
              <small>{{ pergunta.user.perfilestudante.primeiro_nome }} {{ pergunta.user.perfilestudante.ultimo_nome }}</small>
          </a>
          {% if request.user == pergunta.user %}
            <a href="{% url 'deletar_pergunta' pk=pergunta.id %}">Deletar</a>
          {% endif %}
          <br>

          <blockquote>
            <footer>
              <a class="respostas-btn" href="#">{{ pergunta.comentarios.count }} Resposta{% if pergunta.comentarios.count < 1 %}s{% endif %}
                {% if pergunta.comentarios.count > 1 %}s{% endif %}</a>
            </footer>
            <div class="respostas" style='display:none;'>
              <p></p>
              {% for comentario in comentarios %}
                  {% if pergunta.id == comentario.object_id %}
                    <p>
                      {{ comentario.conteudo }}<br>
                      <small>{{ comentario.user.perfilestudante.primeiro_nome }} {{ pergunta.user.perfilestudante.ultimo_nome }} há {{ comentario.data|timesince}}</small>
                      {% if request.user == comentario.user %}
                        <a href="{% url 'deletar_comentario' pk=comentario.id %}">Deletar</a>
                      {% endif %}
                    </p>
                  {% endif %}
              {% endfor %}
            </div>
          </blockquote>
          <form class="" action="." method="post"> {% csrf_token %}
            {{ comentario_form }}
            <input type="hidden" name="object_id" value="{{ pergunta.id }}">
            <input type="submit" name="" value="Responder" class="btn btn-default">
          </form>
        </div>
        {% endfor %}

</main>

{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">

      <a href="{% url 'perfil' %}">
        <!-- <img class="avatar" src="{{ user.perfilestudante.gravatar_url }}"> -->
        <i class="material-icons" style="font-size: 30px; padding-bottom: 3px; vertical-align: middle;">perm_identity</i>
        <span style="" class="name">{{ user.perfilestudante.primeiro_nome }} {{ user.perfilestudante.ultimo_nome }}</span>
      </a>

    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link active" href="/">
        <h1><span data-feather="home"></span> Início</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span>Controles</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span>Exames</h1></a>
      <!-- <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span>Prescrições</h1></a> -->
    </div>
  </nav>

</div>

{% endblock %}
