boto==2.48.0
ChatterBot==0.8.7
chatterbot-corpus==1.1.2
dj-database-url==0.4.2
Django==1.11
django-hitcount==1.2.3
django-model-utils==3.1.1
django-pagedown==1.0.4
django-registration-redux==2.0
django-storages==1.6.5
future==0.16.0
gunicorn==19.7.1
mathparse==0.1.1
msgpack-python==0.5.6
nltk==3.3
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
pymongo==3.7.0
python-dateutil==2.6.1
python-twitter==3.4.2
pytz==2017.3
PyYAML==3.12
SQLAlchemy==1.2.8
whitenoise==3.3.1
