boto==2.48.0
chatterbot>=0.8
dj-database-url==0.4.2
Django==1.11
django-hitcount==1.2.3
django-model-utils==3.1.1
django-pagedown==1.0.4
django-registration-redux==2.0
django-storages==1.6.5
gunicorn==19.7.1
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
pytz==2017.3
whitenoise==3.3.1
appdirs==1.4.3
asgiref==1.0.0
attrs==16.3.0
autobahn==0.17.2
Automat==0.5.0
channels==1.0.3
constantly==15.1.0
daphne==1.0.3
incremental==16.10.1
oauthlib==2.0.1
packaging==16.8
pyparsing==2.2.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
Twisted==17.1.0
txaio==2.6.1
typing==3.5.3.0
zope.interface==4.3.3
