/*
 * Footer
 */

.blog-footer {
  font-family: 'Ubuntu', sans-serif;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
  font-size: 10pt;

}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.blog-footer p, .blog-footer a, .blog-footer a:visited {
  font-family: 'Ubuntu', sans-serif;
  color: #999;
  text-decoration: none;
  text-align: center;
}

 /* Wrapper for page content to push down footer */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -10px;
}
