{% extends "inicio_base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/survey.css' %}">
<h1>{{ qname.questionnaire_text }}</h1>
<h2>{{ qname.description }}</h2>

<form method="post">{% csrf_token %}
    {{ answer_formset.management_form }}
    <table>
        {% for question, form in combined %}
            <tr><td style="width:65%">{{ question }}{{ question.question_type }}</td><td style="width:35%">{{ form.business_id }}{{ form.question }}{{ form.questionnaire_key }}{{ form.answer_text }}</td></tr>

        {% endfor %}
    </table>
    <div class="buttonHolder">
        <input type="submit" value="Save" id="next_button"/>
    </div>
</form>

{% endblock %}
