{% extends 'inicio_base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <div class="texto-centro">
    <h1>SIMULADOS</h1>
  </div>

  <!-- SES DF 2018-->
  <div class="artigo">
    <h2 style="text-align:center;">SES DF 2018</h2>
    <!-- Trigger the modal with a button -->
    <center><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ModalSESDF2018">Iniciar</button></center>

    <!-- Modal -->
    <div class="container">
      <div class="modal fade" id="ModalSESDF2018" role="document">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align:center;">SECRETARIA DE ESTADO DE SAÚDE DO DISTRITO FEDERAL
                </br>ESCOLA SUPERIOR DE CIÊNCIAS DA SAÚDE
                </br>EDITAL NORMATIVO Nº 1 - RM/SES-DF/2018, DE 5 DE OUTUBRO DE 2017</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {% for exercicio in SES_DF_2018 %}
            <div class="modal-body">
              <h2>Questão {{ forloop.counter }}</h2>
              <p><font color="#ff6600">{{ exercicio.simulado_top }}<br></font></p>
              <p>{{ exercicio.enunciado }}</p>
              {% if exercicio.exercicio_img1 %}
                <img src="{{ exercicio.exercicio_img1.url }}" width="300" />
              {% endif %}
              {% if exercicio.exercicio_img2 %}
                <img src="{{ exercicio.exercicio_img2.url }}" width="300" />
              {% endif %}
              <ul>
                <p>{{ exercicio.alternativa1 }}</p>
                <p>{{ exercicio.alternativa2 }}</p>
                <p>{{ exercicio.alternativa3 }}</p>
                <p>{{ exercicio.alternativa4 }}</p>
                <p>{{ exercicio.alternativa5 }}</p>
                <p>{{ exercicio.alternativa6 }}</p>
                <p>{{ exercicio.alternativa7 }}</p>
                <p>{{ exercicio.alternativa8 }}</p>
                <p>{{ exercicio.alternativa9 }}</p>
                <p>{{ exercicio.alternativa10 }}</p>
              </ul>
            </div>
            {% endfor %}
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#ModalSESDF2018_Resultados">Ver Respostas</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="ModalSESDF2018_Resultados" role="document">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align:center;">RESULTADO</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {% for exercicio in SES_DF_2018 %}
            <div class="modal-body">
              <h2>Questão {{ forloop.counter }}</h2>
              <p>{{ exercicio.resposta }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- SES DF 2017-->
  <div class="artigo">
    <h2 style="text-align:center;">SES DF 2017</h2>
    <!-- Trigger the modal with a button -->
    <center><button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#ModalSESDF2017">Iniciar</button></center>

    <!-- Modal -->
    <div class="container">
      <div class="modal fade" id="ModalSESDF2017" role="document">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align:center;">SECRETARIA DE ESTADO DE SAÚDE DO DISTRITO FEDERAL
                </br>ESCOLA SUPERIOR DE CIÊNCIAS DA SAÚDE
                </br>EDITAL NORMATIVO Nº 1 - RM/SES-DF/2018, DE 5 DE OUTUBRO DE 2017</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {% for exercicio in SES_DF_2017 %}
            <div class="modal-body">
              <h2>Questão {{ forloop.counter }}</h2>
              <p><font color="#ff6600">{{ exercicio.simulado_top }}<br></font></p>
              <p>{{ exercicio.enunciado }}</p>
              {% if exercicio.exercicio_img1 %}
                <img src="{{ exercicio.exercicio_img1.url }}" width="300" />
              {% endif %}
              {% if exercicio.exercicio_img2 %}
                <img src="{{ exercicio.exercicio_img2.url }}" width="300" />
              {% endif %}
              <ul>
                <p>{{ exercicio.alternativa1 }}</p>
                <p>{{ exercicio.alternativa2 }}</p>
                <p>{{ exercicio.alternativa3 }}</p>
                <p>{{ exercicio.alternativa4 }}</p>
                <p>{{ exercicio.alternativa5 }}</p>
                <p>{{ exercicio.alternativa6 }}</p>
                <p>{{ exercicio.alternativa7 }}</p>
                <p>{{ exercicio.alternativa8 }}</p>
                <p>{{ exercicio.alternativa9 }}</p>
                <p>{{ exercicio.alternativa10 }}</p>
              </ul>
            </div>
            {% endfor %}
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#ModalSESDF2017_Resultados">Ver Respostas</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="ModalSESDF2017_Resultados" role="document">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" style="text-align:center;">RESULTADO</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {% for exercicio in SES_DF_2017 %}
            <div class="modal-body">
              <h2>Questão {{ forloop.counter }}</h2>
              <p>{{ exercicio.resposta }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SES DF 2016-->
  <div class="artigo">
    <h2 style="text-align:center;">SES DF 2016</h2>
  </div>

{% endif %}

{% endblock %}

{% block barra-esquerda %}

{% if request.user.is_authenticated %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    <a class="bd-toc-link"></a>
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="/">INÍCIO</a>
      <a class="bd-toc-link" href="{% url 'categorias_lista' %}">EXERCÍCIOS</a>
      <a class="bd-toc-link" href="{% url 'simulado_exercicios' %}">SIMULADOS</a>
      <a class="bd-toc-link" href="{% url 'gerar_simulado' %}">GERAR SIMULADO</a>

      {% if request.user.is_authenticated and request.user.is_staff %}
      <a class="bd-toc-link" href="{% url 'administracao' %}">CONTAGEM DE ARTIGOS</a>
      {% endif %}

    </div>
  </nav>

</div>

{% endif %}

{% endblock %}
