/* CABECALHO */

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 40pt;
    text-decoration: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}

/* MENU */

.menu-superior ul, .menu-superior li {
  padding: 2px 10px;
  list-style-type: none;
  /* visual do link */
  color: #ffffff;
  text-decoration: none;
  text-align: right;
}

.menu-superior li {
    display: inline-block;
    list-style-type: none;
}

.menu li {
    padding-top: 2px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
    list-style-type: none;
    display: inline-block;
    /* visual do link */
    color: #333;
    text-decoration: none;
    text-align: center;
    font-family: 'Tangerine', cursive;
}

/* LINHA ALFABETICA */

.lista-horizontal li {
  margin-top: 15px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-left: 6px;
  list-style-type: none;
  display: inline-block;
  /* visual do link */
  color: #333;
  text-decoration: none;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.lista-horizontal h1, .lista-horizontal h1 a, .lista-horizontal h1 a:visited {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15pt;
  font-weight: bold;
  color: #d45500;
}

.linhas-horizontais {
  border-top: 2px solid #9E9E9E;
  border-bottom: 2px solid #9E9E9E;
}

.content {
  margin-left: 40px;
}

.date {
  float: right;
  color: #828282;
}

.save {
  float: right;
}

.texto-centro{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.texto-centro h1, .texto-centro h2, .texto-centro h3, .texto-centro h4 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
  color: #d45500;
  font-size: 20pt;
}

/* ARTIGO */

.artigo {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.artigo h1, .artigo h1 a, .artigo h1 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: #d45500;
}

.artigo h2, .artigo h2 a, .artigo h2 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15pt;
    font-weight: bold;
    color: #ff6600;
}

.artigo h3, .artigo h3 a, .artigo h3 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #ff7f2a;
}

.artigo h4, .artigo h4 a, .artigo h4 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #000;
}

.artigo h5, .artigo h4 a, .artigo h4 a:visited {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11pt;
    font-style: italic;
    color: #000;
}

.artigo p, .artigo p a, .artigo p a:visited {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10pt;
  text-align: justify;
  text-justify: inter-word;
  color: #000;
}

.artigo li {
  display: list-item;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10pt;
  text-align: justify;
  text-justify: inter-word;
  color: #000;
  /*padding-left: 1em;
  text-indent: -.7em;*/
  /*list-style-type: normal;*/
  /*list-style-type: circle;*/
  /*list-style-type: square;*/
  /*word-wrap: break-word;*/
}

.artigo img {
  display: block;
  margin: auto;
}

.artigo small{
  font-size: 8pt;
  color: #d45500;
}

/* PROPAGANDA */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 740px) {

    .anuncio-top {
      display: none !important;
    }

}
