{% extends 'inicio_base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <div class="artigo">
    <h1>{{ quiz.title }}</h1>
    <h3>{% trans "Categoria" %}: {{ quiz.category }}</h3>
    {% if quiz.single_attempt %}
      <h4>{% trans "Você só terá uma tentativa nesse simulado" %}.</h4>
    {% endif %}
    <p>{{ quiz.description }}</p>
    <p>
      <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
    	{% trans "Iniciar" %}
      </a>
    </p>
  </div>

</main>
{% endif %}

{% endblock %}

{% block barra-esquerda %}

{% if request.user.is_authenticated %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    <a class="bd-toc-link"></a>
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="/">INÍCIO</a>
      <a class="bd-toc-link" href="{% url 'quiz_index' %}">EXERCÍCIOS</a>
      <a class="bd-toc-link" href="{% url 'quiz_progress' %}">PROGRESSO</a>

      {% if request.user.is_authenticated and request.user.is_staff %}
      <a class="bd-toc-link" href="{% url 'administracao' %}">CONTAGEM DE ARTIGOS</a>
      {% endif %}

    </div>
  </nav>

</div>

{% endif %}

{% endblock %}
