{% extends 'artigos_base.html' %}

{% block content %}

<!-- Especialidades -->
  {% url 'cardiologia_artigos' as cardiologia_artigos %}
  {% url 'cirurgia_artigos' as cirurgia_artigos %}
  {% url 'dermatologia_artigos' as dermatologia_artigos %}
  {% url 'endocrinologia_artigos' as endocrinologia_artigos %}
  {% url 'gastroenterologia_artigos' as gastroenterologia_artigos %}
  {% url 'ginecologia_artigos' as ginecologia_artigos %}
  {% url 'hematologia_artigos' as hematologia_artigos %}
  {% url 'hepatologia_artigos' as hepatologia_artigos %}
  {% url 'infectologia_artigos' as infectologia_artigos %}
  {% url 'med_emergencia_artigos' as med_emergencia_artigos %}
  {% url 'nefrologia_artigos' as nefrologia_artigos %}
  {% url 'neurologia_artigos' as neurologia_artigos %}
  {% url 'obstetrícia_artigos' as obstetrícia_artigos %}
  {% url 'pediatria_artigos' as pediatria_artigos %}
  {% url 'pneumologia_artigos' as pneumologia_artigos %}
  {% url 'psiquiatria_artigos' as psiquiatria_artigos %}
  {% url 'reumatologia_artigos' as reumatologia_artigos %}

<!-- ESCS -->
  {% url 'ha_3' as ha_3 %}
  {% url 'ha_4' as ha_4 %}
  {% url '3_serie' as 3_serie %}
  {% url '4_serie' as 4_serie %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

<!-- Especialidades -->
  {% if request.path == cardiologia_artigos %}
    <div class="texto-centro">
      <h1>CARDIOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "CARDIOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == cirurgia_artigos %}
    <div class="texto-centro">
      <h1>CIRURGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "CIRURGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == dermatologia_artigos %}
    <div class="texto-centro">
      <h1>DERMATOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "DERMATOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == endocrinologia_artigos %}
    <div class="texto-centro">
      <h1>ENDOCRINOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "ENDOCRINOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == gastroenterologia_artigos %}
    <div class="texto-centro">
      <h1>GASTROENTEROLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "GASTROENTEROLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == ginecologia_artigos %}
    <div class="texto-centro">
      <h1>GINECOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "GINECOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == hematologia_artigos %}
    <div class="texto-centro">
      <h1>HEMATOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "HEMATOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == hepatologia_artigos %}
    <div class="texto-centro">
      <h1>HEPATOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "HEPATOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == infectologia_artigos %}
    <div class="texto-centro">
      <h1>INFECTOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "INFECTOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == med_emergencia_artigos %}
    <div class="texto-centro">
      <h1>MEDICINA DE EMERGÊNCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "MEDICINA DE EMERGÊNCIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == nefrologia_artigos %}
    <div class="texto-centro">
      <h1>NEFROLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "NEFROLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == neurologia_artigos %}
    <div class="texto-centro">
      <h1>NEUROLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "NEUROLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == obstetrícia_artigos %}
    <div class="texto-centro">
      <h1>OBSTETRÍCIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "OBSTETRÍCIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == pediatria_artigos %}
    <div class="texto-centro">
      <h1>PEDIATRIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "PEDIATRIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == pneumologia_artigos %}
    <div class="texto-centro">
      <h1>PNEUMOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "PNEUMOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == psiquiatria_artigos %}
    <div class="texto-centro">
      <h1>PSIQUIATRIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "PSIQUIATRIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if request.path == reumatologia_artigos %}
    <div class="texto-centro">
      <h1>REUMATOLOGIA</h1>
    </div>
    {% for artigo in artigos %}
      {% if artigo.categoria == "REUMATOLOGIA" %}
        <div class="artigo">
          <h2><a href="{% url 'detalhe_artigo' pk=artigo.pk %}">{{ artigo.titulo }}</a></h2>
          <p>{{ artigo.introducao|truncatechars:200 }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

<!-- ESCS -->

  {% if request.path == 3_serie %}
    <div class="texto-centro">
      <h1>3ª Série - MÓDULOS TEMÁTICOS</h1>
    </div>
    <!-- <div class="artigo">
      <h2><a href="{% url 'M301' %}">M301 - DOR</a></h2>
    </div> -->
    <div class="artigo">
      <h2><a href="{% url 'M302' %}">M302 - DOR ABDOMINAL, DIARRÉIA, VÔMITOS E ICTERÍCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M303' %}">M303 - FEBRE, INFLAMAÇÃO E INFECÇÃO</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M304' %}">M304 - DOENÇAS RESULTANTES DA AGRESSÃO AO MEIO AMBIENTE</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M306' %}">M306 - PERDA DE SANGUE</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M307' %}">M307 - FADIGA, PERDA DE PESO E ANEMIAS</a></h2>
    </div>
  {% endif %}

  {% if request.path == ha_3 %}
    <div class="texto-centro">
      <h1>3ª Série - HABILIDADES E ATITUDES</h1>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_ped_3' %}">PEDIATRIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_abdome' %}">CLÍNICA DO ABDOME</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cm_3' %}">CLÍNICA MÉDICA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_neurolocom' %}">APARELHO NEUROLOCOMOTOR</a></h2>
    </div>
  {% endif %}

  {% if request.path == 4_serie %}
    <div class="texto-centro">
      <h1>4ª Série - MÓDULOS TEMÁTICOS</h1>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M401' %}">M401 - TRANSTORNOS MENTAIS E DE COMPORTAMENTO</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M402' %}">M402 - DISTÚRBIOS SENSORIAIS, MOTORES E DA CONSCIÊNCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M403' %}">M403 - DISPNÉIA, DOR TORÁCICA E EDEMAS</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M404' %}">M404 - DESORDENS NUTRICIONAIS E METABÓLICAS</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M406' %}">M406 - MANIFESTAÇÕES EXTERNAS DAS DOENÇAS E IATROGENIAS</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M407' %}">M407 - EMERGÊNCIAS</a></h2>
    </div>
  {% endif %}

  {% if request.path == ha_4 %}
  <div class="texto-centro">
    <h1>4ª Série - HABILIDADES E ATITUDES</h1>
  </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_ped_emerg' %}">PEDIATRIA EMERGÊNCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_ped_amb' %}">PEDIATRIA AMBULATORIAL</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cm_emerg' %}">CLÍNICA MÉDICA EMERGÊNCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cm_amb' %}">CLÍNICA MÉDICA AMBULATORIAL</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cirurgia' %}">CIRURGIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_go' %}">GINECOLOGIA OBSTETRÍCIA</a></h2>
    </div>
  {% endif %}

</main>

{% endblock content %}

{% block barra-esquerda %}

  <div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    <a class="bd-toc-link">ESPECIALIDADES</a>
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'cardiologia_artigos' %}">CARDIOLOGIA</a>
      <a class="bd-toc-link" href="{% url 'cirurgia_artigos' %}">CIRURGIA</a>
      <a class="bd-toc-link" href="{% url 'dermatologia_artigos' %}">DERMATOLOGIA</a>
      <a class="bd-toc-link" href="{% url 'endocrinologia_artigos' %}">ENDOCRINOLOGIA</a>
      <a class="bd-toc-link" href="{% url 'hematologia_artigos' %}">HEMATOLOGIA</a>
      <a class="bd-toc-link" href="{% url 'infectologia_artigos' %}">INFECTOLOGIA</a>
      <a class="bd-toc-link" href="{% url 'med_emergencia_artigos' %}">MEDICINA DE EMERGÊNCIA</a>
      <a class="bd-toc-link" href="{% url 'nefrologia_artigos' %}">NEFROLOGIA</a>
      <a class="bd-toc-link" href="{% url 'neurologia_artigos' %}">NEUROLOGIA</a>
      <a class="bd-toc-link" href="{% url 'pediatria_artigos' %}">PEDIATRIA</a>
      <a class="bd-toc-link" href="{% url 'pneumologia_artigos' %}">PNEUMOLOGIA</a>
      <a class="bd-toc-link" href="{% url 'pneumologia_artigos' %}">PSIQUIATRIA</a>
    </div>
  </nav>

</div>
{% endblock %}
