{% extends 'artigos_base.html' %}

{% block content %}

<!-- ESCS -->
  {% url 'ha_3' as ha_3 %}
  {% url 'ha_4' as ha_4 %}
  {% url '3_serie' as 3_serie %}
  {% url '4_serie' as 4_serie %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

  <!-- anuncio1 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5705627321786233"
       data-ad-slot="5686167727"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

<!-- ESCS -->

  {% if request.path == 3_serie %}
    <div class="texto-centro">
      <h1>3ª Série - MÓDULOS TEMÁTICOS</h1>
    </div>
    <!-- <div class="artigo">
      <h2><a href="{% url 'M301' %}">M301 - DOR</a></h2>
    </div> -->
    <div class="artigo">
      <h2><a href="{% url 'M302' %}">M302 - DOR ABDOMINAL, DIARRÉIA, VÔMITOS E ICTERÍCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M303' %}">M303 - FEBRE, INFLAMAÇÃO E INFECÇÃO</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M304' %}">M304 - DOENÇAS RESULTANTES DA AGRESSÃO AO MEIO AMBIENTE</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M306' %}">M306 - PERDA DE SANGUE</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M307' %}">M307 - FADIGA, PERDA DE PESO E ANEMIAS</a></h2>
    </div>
  {% endif %}

  {% if request.path == ha_3 %}
    <div class="texto-centro">
      <h1>3ª Série - HABILIDADES E ATITUDES</h1>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_ped_3' %}">PEDIATRIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_abdome' %}">CLÍNICA DO ABDOME</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cm_3' %}">CLÍNICA MÉDICA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_neurolocom' %}">APARELHO NEUROLOCOMOTOR</a></h2>
    </div>
  {% endif %}

  {% if request.path == 4_serie %}
    <div class="texto-centro">
      <h1>4ª Série - MÓDULOS TEMÁTICOS</h1>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M401' %}">M401 - TRANSTORNOS MENTAIS E DE COMPORTAMENTO</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M402' %}">M402 - DISTÚRBIOS SENSORIAIS, MOTORES E DA CONSCIÊNCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M403' %}">M403 - DISPNÉIA, DOR TORÁCICA E EDEMAS</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M404' %}">M404 - DESORDENS NUTRICIONAIS E METABÓLICAS</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M406' %}">M406 - MANIFESTAÇÕES EXTERNAS DAS DOENÇAS E IATROGENIAS</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'M407' %}">M407 - EMERGÊNCIAS</a></h2>
    </div>
  {% endif %}

  {% if request.path == ha_4 %}
  <div class="texto-centro">
    <h1>4ª Série - HABILIDADES E ATITUDES</h1>
  </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_ped_emerg' %}">PEDIATRIA EMERGÊNCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_ped_amb' %}">PEDIATRIA AMBULATORIAL</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cm_emerg' %}">CLÍNICA MÉDICA EMERGÊNCIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cm_amb' %}">CLÍNICA MÉDICA AMBULATORIAL</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_cirurgia' %}">CIRURGIA</a></h2>
    </div>
    <div class="artigo">
      <h2><a href="{% url 'ha_go' %}">GINECOLOGIA OBSTETRÍCIA</a></h2>
    </div>
  {% endif %}

</main>

{% endblock content %}

{% block barra-esquerda %}

  <div class="col-12 col-md-3 col-xl-2 bd-sidebar">


  </div>
{% endblock %}
