{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">
  <ul class="section-nav">
    {% if artigo.apresentacao %}
      <h4 class="toc-entry toc-h2"><a href="#apresentacao">Apresentação sobre o tema</a></h4>
    {% endif %}
  </ul>
</div>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

            <div class="artigo">

              <h1>{{ artigo.titulo }}</h1>

              <!--
              **********************
              ***** INTRODUCAO *****
              **********************
              -->

              {% if artigo.intro_top %}
                <h2 id='introducao'>{{ artigo.intro_top }}</h2>
              {% endif %}
              {% if artigo.introducao %}
                <div class="artigo content-markdown"><p>{{ artigo.introducao }}</p></div>
              {% endif %}
              {% if artigo.intro_figura1 %}
                <img src="{{ artigo.intro_figura1.url }}" width="700" />
              {% endif %}
              {% if artigo.intro_figura1_texto %}
                <p><small>{{ artigo.intro_figura1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.intro_figura2 %}
                <img src="{{ artigo.intro_figura2.url }}" width="700" />
              {% endif %}
              {% if artigo.intro_figura2_texto %}
                <p><small>{{ artigo.intro_figura2_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              **********************
              *** EPIDEMIOLOGIA ****
              **********************
              -->
              {% if artigo.epidemio_top %}
                <h2 id='epidemiologia'>{{ artigo.epidemio_top }}</h2>
              {% endif %}
              {% if artigo.epidemiologia %}
                <div class="artigo content-markdown"><p>{{ artigo.epidemiologia }}</p></div>
              {% endif %}
              {% if artigo.epidemio_figura %}
                <img src="{{ artigo.epidemio_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.epidemio_figura_texto %}
                <p><small>{{ artigo.epidemio_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              **********************
              *** CLASSIFICACAO ****
              **********************
              -->
              {% if artigo.class_top %}
                <h2 id='classificacao'>{{ artigo.class_top }}</h2>
              {% endif %}
              {% if artigo.classificacao %}
                <div class="artigo content-markdown"><p>{{ artigo.classificacao }}</p></div>
              {% endif %}
              {% if artigo.clas_figura %}
                <img src="{{ artigo.clas_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.clas_figura_texto %}
                <p><small>{{ artigo.clas_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              **************************
              ETIOLOGIA E FISIOPATOLOGIA
              **************************
              -->
              {% if artigo.etio_top %}
                <h2 id='etiologia_fisiopatologia'>{{ artigo.etio_top }}</h2>
              {% endif %}
              {% if artigo.etiologia_fisiopatologia %}
                <div class="artigo content-markdown"><p>{{ artigo.etiologia_fisiopatologia }}</p></div>
              {% endif %}
              {% if artigo.etio_img1 %}
                <img src="{{ artigo.etio_img1.url }}" width="700" />
              {% endif %}
              {% if artigo.etio_img1_texto %}
                <p><small>{{ artigo.etio_img1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.etio_img2 %}
                <img src="{{ artigo.etio_img2.url }}" width="700" />
              {% endif %}
              {% if artigo.etio_img2_texto %}
                <p><small>{{ artigo.etio_img2_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              *********************
              **** DIAGNOSTICO ****
              *********************
              -->
              {% if artigo.diag_top %}
                <h2 id='diagnostico'>{{ artigo.diag_top }}</h2>
              {% endif %}
              {% if artigo.diagnostico %}
                <div class="artigo content-markdown"><p>{{ artigo.diagnostico }}</p></div>
              {% endif %}
              {% if artigo.historia_figura %}
                <img src="{{ artigo.historia_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.historia_figura_texto %}
                <p><small>{{ artigo.historia_figura_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.ef_figura %}
                <img src="{{ artigo.ef_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.ef_figura_texto %}
                <p><small>{{ artigo.ef_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- EXAMES COMPLEMENTARES -->
              {% if artigo.exames_top_h2 %}
                <h2 id='exames_complementares'>{{ artigo.exames_top_h2 }}</h2>
              {% endif %}
              {% if artigo.exames_complementares %}
                <div class="artigo content-markdown"><p>{{ artigo.exames_complementares }}</p></div>
              {% endif %}
              {% if artigo.exames_img1 %}
                <img src="{{ artigo.exames_img1.url }}" width="700" />
              {% endif %}
              {% if artigo.exames_img1_texto %}
                <p><small>{{ artigo.exames_img1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.exames_img2 %}
                <img src="{{ artigo.exames_img2.url }}" width="700" />
              {% endif %}
              {% if artigo.exames_img2_texto %}
                <p><small>{{ artigo.exames_img2_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.exames_img3 %}
                <img src="{{ artigo.exames_img3.url }}" width="700" />
              {% endif %}
              {% if artigo.exames_img3_texto %}
                <p><small>{{ artigo.exames_img3_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- CRITERIOS DIAGNOSTICOS -->
              {% if artigo.criterios_top %}
                <h2 id='criterios_diagnosticos'>{{ artigo.criterios_top }}</h2>
              {% endif %}
              {% if artigo.criterios_diagnosticos %}
                <div class="artigo content-markdown"><p>{{ artigo.criterios_diagnosticos }}</p></div>
              {% endif %}

              <!-- DIAGNOSTICO DIFERENCIAL -->
              {% if artigo.dd_top_h2 %}
                <h2 id='diagnostico_diferencial'>{{ artigo.dd_top_h2 }}</h2>
              {% endif %}
              {% if artigo.diagnostico_diferencial %}
                <div class="artigo content-markdown"><p>{{ artigo.diagnostico_diferencial }}</p></div>
              {% endif %}
              {% if artigo.dd_img %}
                <img src="{{ artigo.dd_img.url }}" width="700" />
              {% endif %}
              {% if artigo.dd_img_texto %}
                <p><small>{{ artigo.dd_img_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.diag_figura %}
                <img src="{{ artigo.diag_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.diag_figura_texto %}
                <p><small>{{ artigo.diag_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              ********************
              **TOPICO ACESSORIO**
              ********************
              -->
              {% if artigo.top1 %}
                <h2 id='top1'>{{ artigo.top1|linebreaksbr }}</h2>
              {% endif %}
              {% if artigo.texto1 %}
                <div class="artigo content-markdown"><p>{{ artigo.texto1 }}</p></div>
              {% endif %}
              {% if artigo.top1_img1 %}
                <img src="{{ artigo.top1_img1.url }}" width="700" />
              {% endif %}
              {% if artigo.top1_img1_texto %}
                <p><small>{{ artigo.top1_img1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.top1_img2 %}
                <img src="{{ artigo.top1_img2.url }}" width="700" />
              {% endif %}
              {% if artigo.top1_img2_texto %}
                <p><small>{{ artigo.top1_img2_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              ********************
              **** TRATAMENTO ****
              ********************
              -->
              {% if artigo.tratamento_top %}
                <h2 id='tratamento_e_manejo'>{{ artigo.tratamento_top }}</h2>
              {% endif %}
              {% if artigo.tratamento_e_manejo %}
                <div class="artigo content-markdown"><p>{{ artigo.tratamento_e_manejo }}</p></div>
              {% endif %}

              {% if artigo.trat_figura %}
                <img src="{{ artigo.trat_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.trat_figura_texto %}
                <p><small>{{ artigo.trat_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- PROFILAXIA -->
              {% if artigo.profilaxia_top %}
                <h2 id='profilaxia'>{{ artigo.profilaxia_top }}</h2>
              {% endif %}
              {% if artigo.profilaxia %}
                <div class="artigo content-markdown"><p>{{ artigo.profilaxia }}</p></div>
              {% endif %}

              {% if artigo.prof_figura %}
                <img src="{{ artigo.prof_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.prof_figura_texto %}
                <p><small>{{ artigo.prof_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- PROGNOSTICO -->
              {% if artigo.prognostico_top %}
                <h2 id='prognostico'>{{ artigo.prognostico_top }}</h2>
              {% endif %}
              {% if artigo.prognostico %}
                <div class="artigo content-markdown"><p>{{ artigo.prognostico }}</p></div>
              {% endif %}

              {% if artigo.prognostico_img %}
                <img src="{{ artigo.prognostico_img.url }}" width="700" />
              {% endif %}
              {% if artigo.prognostico_img_texto %}
                <p><small>{{ artigo.prognostico_img_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- COMPLICACOES -->
              {% if artigo.complicacoes_top %}
                <h2 id='complicacoes'>{{ artigo.complicacoes_top }}</h2>
              {% endif %}
              {% if artigo.complicacoes_top %}
                <div class="artigo content-markdown"><p>{{ artigo.complicacoes }}</p></div>
              {% endif %}

              <!--
              *******************
              **** ALGORITMO ****
              *******************
              -->
              {% if artigo.algoritmo_img1 %}
                <h2 id='algoritmo_img1'>{{ artigo.algoritmo_top }}</h2>
                {% if artigo.algoritmo_img1 %}
                  <img src="{{ artigo.algoritmo_img1.url }}" width="700" />
                {% endif %}
                {% if artigo.algoritmo_img1_texto %}
                  <p><small>{{ artigo.algoritmo_img1_texto|linebreaksbr }}</small></p>
                {% endif %}
                {% if artigo.algoritmo_img2 %}
                  <img src="{{ artigo.algoritmo_img2.url }}" width="700" />
                {% endif %}
                {% if artigo.algoritmo_img2_texto %}
                  <p><small>{{ artigo.algoritmo_img2_texto|linebreaksbr }}</small></p>
                {% endif %}
                {% if artigo.algoritmo_img3 %}
                  <img src="{{ artigo.algoritmo_img3.url }}" width="700" />
                {% endif %}
                {% if artigo.algoritmo_img3_texto %}
                  <p><small>{{ artigo.algoritmo_img3_texto|linebreaksbr }}</small></p>
                {% endif %}
              {% endif %}

              <!--
              *******************
              *** REFERENCIAS ***
              *******************
              -->
              {% if artigo.referencias_top %}
                <h2 id="referencias">{{ artigo.referencias_top }}</h2>
              {% endif %}
              {% if artigo.referencias %}
                <div class="artigo content-markdown"><p>{{ artigo.referencias }}</p></div>
              {% endif %}

              <!--
              *******************
              *** APRESENTAÇÃO ***
              *******************
              -->
              {% if artigo.apresentacao %}
                <h2 id="apresentacao">APRESENTAÇÃO</h2>
                <iframe src="{{ artigo.apresentacao }}"
                width="490px" height="470px" frameborder="0" marginwidth="0" marginheight="0"
                scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen>
                </iframe>
              {% endif %}

</main>

{% endblock %}


{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    <!-- <a class="bd-toc-link">TÓPICOS</a>
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button> -->
    <button onclick="goBack()">Voltar</button>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
  </div>

<nav class="collapse bd-links" id="bd-docs-nav">
  <div class="bd-toc-item">
    {% if artigo.intro_top %}
    <a class="bd-toc-link" href="#introducao">{{ artigo.intro_top }}</a>
    {% endif %}
    {% if artigo.epidemio_top %}
    <a class="bd-toc-link" href="#epidemiologia">{{ artigo.epidemio_top }}</a>
    {% endif %}
    {% if artigo.class_top %}
    <a class="bd-toc-link" href="#classificacao">{{ artigo.class_top }}</a>
    {% endif %}

    {% if artigo.etio_top %}
    <a class="bd-toc-link" href="#etiologia_fisiopatologia">{{ artigo.etio_top }}</a>
    {% endif %}

    {% if artigo.diag_top %}
    <a class="bd-toc-link" href="#diagnostico">{{ artigo.diag_top }}</a>
    {% endif %}

    {% if artigo.exames_top %}
    <a class="bd-toc-link" href="#exames_complementares">{{ artigo.exames_top }}</a>
    {% endif %}

    {% if artigo.criterios_top %}
    <a class="bd-toc-link" href="#criterios_diagnosticos">{{ artigo.criterios_top }}</a>
    {% endif %}
    {% if artigo.dd_top %}
    <a class="bd-toc-link" href="#diagnostico_diferencial">{{ artigo.dd_top }}</a>
    {% endif %}

    {% if artigo.top1 %}
    <a class="bd-toc-link" href="#top1">{{ artigo.top1|linebreaksbr }}</a>
    {% endif %}

    {% if artigo.tratamento_top %}
    <a class="bd-toc-link" href="#tratamento_e_manejo">{{ artigo.tratamento_top }}</a>
    {% endif %}

    {% if artigo.profilaxia_top %}
    <a class="bd-toc-link" href="#profilaxia">{{ artigo.profilaxia_top }}</a>
    {% endif %}
    {% if artigo.prognostico_top %}
    <a class="bd-toc-link" href="#prognostico">{{ artigo.prognostico_top }}</a>
    {% endif %}
    {% if artigo.complicacoes_top %}
    <a class="bd-toc-link" href="#complicacoes">{{ artigo.complicacoes_top }}</a>
    {% endif %}
    {% if artigo.algoritmo_img1 %}
    <a class="bd-toc-link" href="#algoritmo_img1">ALGORITMO</a>
    {% endif %}
    {% if artigo.referencias %}
    <a class="bd-toc-link" href="#referencias">REFERÊNCIAS</a>
    {% endif %}
    </div>
  </nav>

</div>
{% endblock %}
