{% extends 'artigos_base.html' %}
{% load staticfiles %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">
  <ul class="section-nav">
    {% if artigo.apresentacao %}
      <h4 class="toc-entry toc-h2"><a href="#apresentacao">Apresentação sobre o tema</a></h4>
    {% endif %}
  </ul>
</div>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <div class="artigo">

              <h1>{{ artigo.titulo }}</h1>

              <!--
              **********************
              ***** INTRODUCAO *****
              **********************
              -->
              {% if artigo.intro_top %}
                <h2 id='introducao'>{{ artigo.intro_top }}</h2>
                <p>{{ artigo.introducao|safe }}</p>
              {% endif %}
              {% if artigo.intro_texto1 %}
                <h4>{{ artigo.intro_top1 }}</h4>
                <p>{{ artigo.intro_texto1|safe }}</p>
              {% endif %}
              {% if artigo.intro_texto2 %}
                <h4>{{ artigo.intro_top2 }}</h4>
                <p>{{ artigo.intro_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.intro_texto3 %}
                <h4>{{ artigo.intro_top3 }}</h4>
                <p>{{ artigo.intro_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.intro_texto4 %}
                <h4>{{ artigo.intro_top4 }}</h4>
                <p>{{ artigo.intro_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.intro_texto5 %}
                <h4>{{ artigo.intro_top5 }}</h4>
                <p>{{ artigo.intro_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.intro_texto6 %}
                <h4>{{ artigo.intro_top6 }}</h4>
                <p>{{ artigo.intro_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.intro_figura1 %}
                <img src="{{ artigo.intro_figura1.url }}" width="700" />
              {% endif %}
              {% if artigo.intro_figura1_texto %}
                <p><small>{{ artigo.intro_figura1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.intro_figura2 %}
                <img src="{{ artigo.intro_figura2.url }}" width="700" />
              {% endif %}
              {% if artigo.intro_figura2_texto %}
                <p><small>{{ artigo.intro_figura2_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              **********************
              *** EPIDEMIOLOGIA ****
              **********************
              -->
              {% if artigo.epidemio_top %}
                <h2 id='epidemiologia'>{{ artigo.epidemio_top }}</h2>
                <p>{{ artigo.epidemiologia|safe }}</p>
              {% endif %}
              {% if artigo.epidemio_top1 %}
                <h4>{{ artigo.epidemio_top1 }}</h4>
                <p>{{ artigo.epidemio_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.epidemio_top2 %}
                <h4>{{ artigo.epidemio_top2 }}</h4>
                <p>{{ artigo.epidemio_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.epidemio_top3 %}
                <h4>{{ artigo.epidemio_top3 }}</h4>
                <p>{{ artigo.epidemio_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.epidemio_top4 %}
                <h4>{{ artigo.epidemio_top4 }}</h4>
                <p>{{ artigo.epidemio_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.epidemio_top5 %}
                <h4>{{ artigo.epidemio_top5 }}</h4>
                <p>{{ artigo.epidemio_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.epidemio_top6 %}
                <h4>{{ artigo.epidemio_top6 }}</h4>
                <p>{{ artigo.epidemio_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.epidemio_figura %}
                <img src="{{ artigo.epidemio_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.epidemio_figura_texto %}
                <p><small>{{ artigo.epidemio_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              **********************
              *** CLASSIFICACAO ****
              **********************
              -->
              {% if artigo.class_top %}
                <h2 id='classificacao'>{{ artigo.class_top }}</h2>
                <p>{{ artigo.classificacao|safe }}</p>
              {% endif %}
              {% if artigo.class_texto1 %}
                <h4>{{ artigo.class_top1 }}</h4>
                <p>{{ artigo.class_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.class_texto2 %}
                <h4>{{ artigo.class_top2 }}</h4>
                <p>{{ artigo.class_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.class_texto3 %}
                <h4>{{ artigo.class_top3 }}</h4>
                <p>{{ artigo.class_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.class_texto4 %}
                <h4>{{ artigo.class_top4 }}</h4>
                <p>{{ artigo.class_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.class_texto5 %}
                <h4>{{ artigo.class_top5 }}</h4>
                <p>{{ artigo.class_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.class_texto6 %}
                <h4>{{ artigo.class_top6 }}</h4>
                <p>{{ artigo.class_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.clas_figura %}
                <img src="{{ artigo.clas_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.clas_figura_texto %}
                <p><small>{{ artigo.clas_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              **************************
              ETIOLOGIA E FISIOPATOLOGIA
              **************************
              -->
              {% if artigo.etio_top %}
                <h2 id='etiologia_fisiopatologia'>{{ artigo.etio_top }}</h2>
                <p>{{ artigo.etiologia_fisiopatologia|safe }}</p>
              {% endif %}
              {% if artigo.etio_top1 %}
                <h4>{{ artigo.etio_top1|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_top2 %}
                <h4>{{ artigo.etio_top2|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_top3 %}
                <h4>{{ artigo.etio_top3|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_top4 %}
                <h4>{{ artigo.etio_top4|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_top5 %}
                <h4>{{ artigo.etio_top5|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_top6 %}
                <h4>{{ artigo.etio_top6|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_top7 %}
                <h4>{{ artigo.etio_top7|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto7|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_top8 %}
                <h4>{{ artigo.etio_top8|linebreaksbr }}</h4>
                <p>{{ artigo.etio_texto8|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.etio_img1 %}
                <img src="{{ artigo.etio_img1.url }}" width="700" />
              {% endif %}
              {% if artigo.etio_img1_texto %}
                <p><small>{{ artigo.etio_img1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.etio_img2 %}
                <img src="{{ artigo.etio_img2.url }}" width="700" />
              {% endif %}
              {% if artigo.etio_img2_texto %}
                <p><small>{{ artigo.etio_img2_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              *********************
              **** DIAGNOSTICO ****
              *********************
              -->
              {% if artigo.diag_top %}
                <h2 id='diagnostico'>{{ artigo.diag_top }}</h2>
                <p>{{ artigo.diagnostico|safe }}</p>
              {% endif %}

              <!-- HISTORIA -->
              {% if artigo.historia_top_h2 %}
                <h2 id='historia_top_h2'>{{ artigo.historia_top_h2 }}</h2>
              {% endif %}
              {% if artigo.historia_top %}
                <h3 id='historia_clinica'>{{ artigo.historia_top }}</h3>
              {% endif %}
              {% if artigo.historia_clinica %}
                <p>{{ artigo.historia_clinica|safe }}</p>
              {% endif %}
              {% if artigo.historia_texto1 %}
                <h4>{{ artigo.historia_top1 }}</h4>
                <p>{{ artigo.historia_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.historia_texto2 %}
                <h4>{{ artigo.historia_top2 }}</h4>
                <p>{{ artigo.historia_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.historia_texto3 %}
                <h4>{{ artigo.historia_top3 }}</h4>
                <p>{{ artigo.historia_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.historia_texto4 %}
                <h4>{{ artigo.historia_top4 }}</h4>
                <p>{{ artigo.historia_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.historia_texto5 %}
                <h4>{{ artigo.historia_top5 }}</h4>
                <p>{{ artigo.historia_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.historia_texto6 %}
                <h4>{{ artigo.historia_top6 }}</h4>
                <p>{{ artigo.historia_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.historia_figura %}
                <img src="{{ artigo.historia_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.historia_figura_texto %}
                <p><small>{{ artigo.historia_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- EXAME FISICO -->
              {% if artigo.ef_top_h2 %}
                <h2 id='ef_top_h2'>{{ artigo.ef_top_h2 }}</h2>
              {% endif %}
              {% if artigo.ef_top %}
                <h3 id='exame_fisico'>{{ artigo.ef_top }}</h3>
              {% endif %}
              {% if artigo.exame_fisico %}
                <p>{{ artigo.exame_fisico|safe }}</p>
              {% endif %}
              {% if artigo.ef_texto1 %}
                <h4>{{ artigo.ef_top1 }}</h4>
                <p>{{ artigo.ef_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.ef_texto2 %}
                <h4>{{ artigo.ef_top2 }}</h4>
                <p>{{ artigo.ef_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.ef_texto3 %}
                <h4>{{ artigo.ef_top3 }}</h4>
                <p>{{ artigo.ef_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.ef_texto4 %}
                <h4>{{ artigo.ef_top4 }}</h4>
                <p>{{ artigo.ef_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.ef_texto5 %}
                <h4>{{ artigo.ef_top5 }}</h4>
                <p>{{ artigo.ef_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.ef_texto6 %}
                <h4>{{ artigo.ef_top6 }}</h4>
                <p>{{ artigo.ef_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.ef_figura %}
                <img src="{{ artigo.ef_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.ef_figura_texto %}
                <p><small>{{ artigo.ef_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- EXAMES COMPLEMENTARES -->
              {% if artigo.exames_top_h2 %}
                <h3 id='exames_complementares'>{{ artigo.exames_top_h2 }}</h3>
              {% endif %}
              {% if artigo.exames_top %}
                <h3 id='exames_complementares'>{{ artigo.exames_top }}</h3>
              {% endif %}
              {% if artigo.exames_complementares %}
                <p>{{ artigo.exames_complementares|safe }}</p>
              {% endif %}
              {% if artigo.exames_top1 %}
                <h4>{{ artigo.exames_top1|linebreaksbr }}</h4>
                <p>{{ artigo.exames_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.exames_top2 %}
                <h4>{{ artigo.exames_top2|linebreaksbr }}</h4>
                <p>{{ artigo.exames_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.exames_top3 %}
                <h4>{{ artigo.exames_top3|linebreaksbr }}</h4>
                <p>{{ artigo.exames_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.exames_top4 %}
                <h4>{{ artigo.exames_top4|linebreaksbr }}</h4>
                <p>{{ artigo.exames_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.exames_top5 %}
                <h4>{{ artigo.exames_top5|linebreaksbr }}</h4>
                <p>{{ artigo.exames_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.exames_top6 %}
                <h4>{{ artigo.exames_top6|linebreaksbr }}</h4>
                <p>{{ artigo.exames_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.exames_img1 %}
                <img src="{{ artigo.exames_img1.url }}" width="700" />
              {% endif %}
              {% if artigo.exames_img1_texto %}
                <p><small>{{ artigo.exames_img1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.exames_img2 %}
                <img src="{{ artigo.exames_img2.url }}" width="700" />
              {% endif %}
              {% if artigo.exames_img2_texto %}
                <p><small>{{ artigo.exames_img2_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.exames_img3 %}
                <img src="{{ artigo.exames_img3.url }}" width="700" />
              {% endif %}
              {% if artigo.exames_img3_texto %}
                <p><small>{{ artigo.exames_img3_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- CRITERIOS DIAGNOSTICOS -->
              {% if artigo.criterios_top %}
                <h3 id='criterios_diagnosticos'>{{ artigo.criterios_top }}</h3>
                <p>{{ artigo.criterios_diagnosticos|safe }}</p>
              {% endif %}

              <!-- DIAGNOSTICO DIFERENCIAL -->
              {% if artigo.dd_top_h2 %}
                <h3 id='diagnostico_diferencial'>{{ artigo.dd_top_h2 }}</h3>
              {% endif %}
              {% if artigo.dd_top %}
                <h3 id='diagnostico_diferencial'>{{ artigo.dd_top }}</h3>
              {% endif %}
              {% if artigo.diagnostico_diferencial %}
                <p>{{ artigo.diagnostico_diferencial|safe }}</p>
              {% endif %}
              {% if artigo.dd_top1 %}
                <h4>{{ artigo.dd_top1 }}</h3>
              {% endif %}
              {% if artigo.dd_texto1 %}
                <p>{{ artigo.dd_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.dd_top2 %}
                <h4>{{ artigo.dd_top2 }}</h3>
              {% endif %}
              {% if artigo.dd_texto2 %}
                <p>{{ artigo.dd_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.dd_top3 %}
                <h4>{{ artigo.dd_top3 }}</h3>
              {% endif %}
              {% if artigo.dd_texto3 %}
                <p>{{ artigo.dd_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.dd_top4 %}
                <h4>{{ artigo.dd_top4 }}</h3>
              {% endif %}
              {% if artigo.dd_texto4 %}
                <p>{{ artigo.dd_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.dd_top5 %}
                <h4>{{ artigo.dd_top5 }}</h3>
              {% endif %}
              {% if artigo.dd_texto5 %}
                <p>{{ artigo.dd_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.dd_top6 %}
                <h4>{{ artigo.dd_top6 }}</h3>
              {% endif %}
              {% if artigo.dd_texto6 %}
                <p>{{ artigo.dd_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.dd_img %}
                <img src="{{ artigo.dd_img.url }}" width="700" />
              {% endif %}
              {% if artigo.dd_img_texto %}
                <p><small>{{ artigo.dd_img_texto|linebreaksbr }}</small></p>
              {% endif %}

              {% if artigo.diag_figura %}
                <img src="{{ artigo.diag_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.diag_figura_texto %}
                <p><small>{{ artigo.diag_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!--
              ********************
              **TOPICO ACESSORIO**
              ********************
              -->
              {% if artigo.top1 %}
                <h2 id='top1'>{{ artigo.top1|linebreaksbr }}</h2>
                <p>{{ artigo.texto1|safe }}</p>
              {% endif %}
              {% if artigo.subtop1 %}
                <h4>{{ artigo.subtop1|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.subtop2 %}
                <h4>{{ artigo.subtop2|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.subtop3 %}
                <h4>{{ artigo.subtop3|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.subtop4 %}
                <h4>{{ artigo.subtop4|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.subtop5 %}
                <h4>{{ artigo.subtop5|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.subtop6 %}
                <h4>{{ artigo.subtop6|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.subtop7 %}
                <h4>{{ artigo.subtop7|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto7|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.subtop8 %}
                <h4>{{ artigo.subtop8|linebreaksbr }}</h4>
                <p>{{ artigo.subtexto8|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.top1_img1 %}
                <img src="{{ artigo.top1_img1.url }}" width="700" />
              {% endif %}
              {% if artigo.top1_img1_texto %}
                <p><small>{{ artigo.top1_img1_texto|linebreaksbr }}</small></p>
              {% endif %}
              {% if artigo.top1_img2 %}
                <img src="{{ artigo.top1_img2.url }}" width="700" />
              {% endif %}
              {% if artigo.top1_img2_texto %}
                <p><small>{{ artigo.top1_img2_texto|linebreaksbr }}</small></p>
              {% endif %}


              <!--
              ********************
              **** TRATAMENTO ****
              ********************
              -->
              {% if artigo.tratamento_top %}
                <h2 id='tratamento_e_manejo'>{{ artigo.tratamento_top }}</h2>
                <p>{{ artigo.tratamento_e_manejo|safe }}</p>
              {% endif %}

              <!-- MEDIDAS GERAIS -->
              {% if artigo.medidas_top %}
                <h3>{{ artigo.medidas_top }}</h3>
              {% endif %}
              {% if artigo.tratamento_nao_medicamentoso %}
                <p>{{ artigo.tratamento_nao_medicamentoso|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.medidas_top1 %}
                <h4>{{ artigo.medidas_top1 }}</h4>
                <p>{{ artigo.medidas_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.medidas_top2 %}
                <h4>{{ artigo.medidas_top2 }}</h4>
                <p>{{ artigo.medidas_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.medidas_top3 %}
                <h4>{{ artigo.medidas_top3 }}</h4>
                <p>{{ artigo.medidas_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.medidas_top4 %}
                <h4>{{ artigo.medidas_top4 }}</h4>
                <p>{{ artigo.medidas_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.medidas_top5 %}
                <h4>{{ artigo.medidas_top5 }}</h4>
                <p>{{ artigo.medidas_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.medidas_top6 %}
                <h4>{{ artigo.medidas_top6 }}</h4>
                <p>{{ artigo.medidas_texto6|linebreaksbr }}</p>
              {% endif %}

              <!-- TRATAMENTO FARMACOLÓGICO -->
              {% if artigo.trat_med_top %}
                <h3>{{ artigo.trat_med_top }}</h3>
                <p>{{ artigo.tratamento_medicamentoso|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top1 %}
                <h4>{{ artigo.med_top1|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top2 %}
                <h4>{{ artigo.med_top2|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top3 %}
                <h4>{{ artigo.med_top3|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top4 %}
                <h4>{{ artigo.med_top4|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top5 %}
                <h4>{{ artigo.med_top5|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top6 %}
                <h4>{{ artigo.med_top6|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top7 %}
                <h4>{{ artigo.med_top7|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto7|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.med_top8 %}
                <h4>{{ artigo.med_top8|linebreaksbr }}</h4>
                <p>{{ artigo.med_texto8|linebreaksbr }}</p>
              {% endif %}

              <!-- TRATAMENTO INTERVENCIONISTA -->
              {% if artigo.trat_int_top %}
                <h3>{{ artigo.trat_int_top }}</h3>
                <p>{{ artigo.tratamento_intervencionista|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.trat_int_top1 %}
                <h4>{{ artigo.trat_int_top1 }}</h4>
                <p>{{ artigo.trat_int_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.trat_int_top2 %}
                <h4>{{ artigo.trat_int_top2 }}</h4>
                <p>{{ artigo.trat_int_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.trat_int_top3 %}
                <h4>{{ artigo.trat_int_top3 }}</h4>
                <p>{{ artigo.trat_int_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.trat_int_top4 %}
                <h4>{{ artigo.trat_int_top4 }}</h4>
                <p>{{ artigo.trat_int_texto4|linebreaksbr }}</p>
              {% endif %}

              {% if artigo.trat_figura %}
                <img src="{{ artigo.trat_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.trat_figura_texto %}
                <p><small>{{ artigo.trat_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- PROFILAXIA -->
              {% if artigo.profilaxia_top %}
                <h2 id='profilaxia'>{{ artigo.profilaxia_top }}</h2>
                <p>{{ artigo.profilaxia|safe }}</p>
              {% endif %}
              {% if artigo.profilaxia_top1 %}
                <h4>{{ artigo.profilaxia_top1 }}</h4>
                <p>{{ artigo.profilaxia_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.profilaxia_top2 %}
                <h4>{{ artigo.profilaxia_top2 }}</h4>
                <p>{{ artigo.profilaxia_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.profilaxia_top3 %}
                <h4>{{ artigo.profilaxia_top3 }}</h4>
                <p>{{ artigo.profilaxia_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.profilaxia_top4 %}
                <h4>{{ artigo.profilaxia_top4 }}</h4>
                <p>{{ artigo.profilaxia_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.profilaxia_top5 %}
                <h4>{{ artigo.profilaxia_top5 }}</h4>
                <p>{{ artigo.profilaxia_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.profilaxia_top6 %}
                <h4>{{ artigo.profilaxia_top6 }}</h4>
                <p>{{ artigo.profilaxia_texto6|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.prof_figura %}
                <img src="{{ artigo.prof_figura.url }}" width="700" />
              {% endif %}
              {% if artigo.prof_figura_texto %}
                <p><small>{{ artigo.prof_figura_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- PROGNOSTICO -->
              {% if artigo.prognostico_top %}
                <h2 id='prognostico'>{{ artigo.prognostico_top }}</h2>
                <p>{{ artigo.prognostico|safe }}</p>
              {% endif %}
              {% if artigo.prognostico_img %}
                <img src="{{ artigo.prognostico_img.url }}" width="700" />
              {% endif %}
              {% if artigo.prognostico_img_texto %}
                <p><small>{{ artigo.prognostico_img_texto|linebreaksbr }}</small></p>
              {% endif %}

              <!-- COMPLICACOES -->
              {% if artigo.complicacoes_top %}
                <h2 id='complicacoes'>{{ artigo.complicacoes_top }}</h2>
                <p>{{ artigo.complicacoes|safe }}</p>
              {% endif %}
              {% if artigo.complicacoes_top1 %}
                <h4>{{ artigo.complicacoes_top1 }}</h4>
                <p>{{ artigo.complicacoes_texto1|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.complicacoes_top2 %}
                <h4>{{ artigo.complicacoes_top2 }}</h4>
                <p>{{ artigo.complicacoes_texto2|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.complicacoes_top3 %}
                <h4>{{ artigo.complicacoes_top3 }}</h4>
                <p>{{ artigo.complicacoes_texto3|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.complicacoes_top4 %}
                <h4>{{ artigo.complicacoes_top4 }}</h4>
                <p>{{ artigo.complicacoes_texto4|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.complicacoes_top5 %}
                <h4>{{ artigo.complicacoes_top5 }}</h4>
                <p>{{ artigo.complicacoes_texto5|linebreaksbr }}</p>
              {% endif %}
              {% if artigo.complicacoes_top6 %}
                <h4>{{ artigo.complicacoes_top6 }}</h4>
                <p>{{ artigo.complicacoes_texto6|linebreaksbr }}</p>
              {% endif %}

              <!--
              *******************
              **** ALGORITMO ****
              *******************
              -->
              {% if artigo.algoritmo_img1 %}
                <h2 id='algoritmo_img1'>{{ artigo.algoritmo_top }}</h2>
                {% if artigo.algoritmo_img1 %}
                  <img src="{{ artigo.algoritmo_img1.url }}" width="700" />
                {% endif %}
                {% if artigo.algoritmo_img1_texto %}
                  <p><small>{{ artigo.algoritmo_img1_texto|linebreaksbr }}</small></p>
                {% endif %}
                {% if artigo.algoritmo_img2 %}
                  <img src="{{ artigo.algoritmo_img2.url }}" width="700" />
                {% endif %}
                {% if artigo.algoritmo_img2_texto %}
                  <p><small>{{ artigo.algoritmo_img2_texto|linebreaksbr }}</small></p>
                {% endif %}
                {% if artigo.algoritmo_img3 %}
                  <img src="{{ artigo.algoritmo_img3.url }}" width="700" />
                {% endif %}
                {% if artigo.algoritmo_img3_texto %}
                  <p><small>{{ artigo.algoritmo_img3_texto|linebreaksbr }}</small></p>
                {% endif %}
              {% endif %}

              <!--
              *******************
              *** REFERENCIAS ***
              *******************
              -->
              {% if artigo.referencias %}
                <h2 id="referencias">{{ artigo.referencias_top }}</h2>
                <p>{{ artigo.referencias|safe }}</p>
              {% endif %}

              <!--
              *******************
              *** APRESENTAÇÃO ***
              *******************
              -->
              {% if artigo.apresentacao %}
                <h2 id="apresentacao">APRESENTAÇÃO</h2>
                <iframe src="{{ artigo.apresentacao }}"
                width="490px" height="470px" frameborder="0" marginwidth="0" marginheight="0"
                scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen>
                </iframe>
              {% endif %}

</main>

{% endblock %}


{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    <a class="bd-toc-link">TÓPICOS</a>
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

<nav class="collapse bd-links" id="bd-docs-nav">
  <div class="bd-toc-item">
    {% if artigo.intro_top %}
    <a class="bd-toc-link" href="#introducao">{{ artigo.intro_top }}</a>
    {% endif %}
    {% if artigo.epidemio_top %}
    <a class="bd-toc-link" href="#epidemiologia">{{ artigo.epidemio_top }}</a>
    {% endif %}
    {% if artigo.class_top %}
    <a class="bd-toc-link" href="#classificacao">{{ artigo.class_top }}</a>
    {% endif %}

    {% if artigo.etio_top %}
    <a class="bd-toc-link" href="#etiologia_fisiopatologia">{{ artigo.etio_top }}</a>
    {% endif %}

    {% if artigo.diag_top %}
    <a class="bd-toc-link" href="#diagnostico">{{ artigo.diag_top }}</a>
    {% endif %}

    {% if artigo.historia_top_h2 %}
    <a class="bd-toc-link" href="#historia_top_h2">{{ artigo.historia_top_h2 }}</a>
    {% endif %}
    {% if artigo.historia_top %}
    <a class="bd-toc-link" href="#historia_clinica">{{ artigo.historia_top }}</a>
    {% endif %}

    {% if artigo.ef_top_h2 %}
    <a class="bd-toc-link" href="#ef_top_h2">{{ artigo.ef_top_h2 }}</a>
    {% endif %}
    {% if artigo.ef_top %}
    <a class="bd-toc-link" href="#exame_fisico">{{ artigo.ef_top }}</a>
    {% endif %}

    {% if artigo.exames_top %}
    <a class="bd-toc-link" href="#exames_complementares">{{ artigo.exames_top }}</a>
    {% endif %}

    {% if artigo.criterios_top %}
    <a class="bd-toc-link" href="#criterios_diagnosticos">{{ artigo.criterios_top }}</a>
    {% endif %}
    {% if artigo.dd_top %}
    <a class="bd-toc-link" href="#diagnostico_diferencial">{{ artigo.dd_top }}</a>
    {% endif %}

    {% if artigo.top1 %}
    <a class="bd-toc-link" href="#top1">{{ artigo.top1|linebreaksbr }}</a>
    {% endif %}

    {% if artigo.tratamento_top %}
    <a class="bd-toc-link" href="#tratamento_e_manejo">{{ artigo.tratamento_top }}</a>
    {% endif %}

    {% if artigo.profilaxia_top %}
    <a class="bd-toc-link" href="#profilaxia">{{ artigo.profilaxia_top }}</a>
    {% endif %}
    {% if artigo.prognostico_top %}
    <a class="bd-toc-link" href="#prognostico">{{ artigo.prognostico_top }}</a>
    {% endif %}
    {% if artigo.complicacoes_top %}
    <a class="bd-toc-link" href="#complicacoes">{{ artigo.complicacoes_top }}</a>
    {% endif %}
    {% if artigo.algoritmo_img1 %}
    <a class="bd-toc-link" href="#algoritmo_img1">ALGORITMO</a>
    {% endif %}
    {% if artigo.referencias %}
    <a class="bd-toc-link" href="#referencias">REFERÊNCIAS</a>
    {% endif %}
    </div>
  </nav>

</div>
{% endblock %}
