<!doctype html>
{% extends "conectado_base.html" %}
{% load quiz_tags %}
{% load i18n %}
{% load staticfiles %}

{% block form-nav %}
<ul class="navbar-nav px-3">
  <li class="nav-item text-nowrap">
      <a href="{% url 'auth_logout' %}" class="btn btn-outline-light">Sair</a>
  </li>
</ul>
{% endblock %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="texto-centro">
    <h1>{{ especialidade.especialidade }}</h1>
  </div>

    {% with object_list as temas %}
      {% if temas %}
          <ul>
          {% for tema in temas %}
            <div class="artigo">
      			  <h2>
      				{{ tema.tema }}<br>
      			  </h2>
              <div class="col-md-8">
                <hr style="background-color:#ff9400ff" class="featurette-divider">
              </div>
              {% if tema.exercicios %}
              <h3>
                {% for artigo in artigo_list %}
                  {% if tema.tema|stringformat:"s" == artigo.tema|stringformat:"s" %}
                    <ul>
                      <a href="{% url 'artigo_detail' pk=artigo.pk %}">
              				{{ artigo.titulo }}
              			  </a><br>
                    </ul>
                  {% endif %}
                {% endfor %}
              </h3>
              <ul>
                <h3> <a href="http://www.mairimed.com/questoes/{{tema.exercicios.url}}">
                  EXERCÍCIOS SOBRE O TEMA</a>
                </h3>
              </ul>
              {% endif %}
      			</div>
          {% endfor %}
          </ul>
      {% else %}
          <p>{% trans "Não há resumos" %}</p>
      {% endif %}
    {% endwith %}

</main>
{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    <a style="" class="bd-toc-link">{{user}}</a>
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'conectado' %}">
        <span data-feather="home"></span>
        Início</a>
      <a class="bd-toc-link active" href="{% url 'especialidades' %}">
        <span data-feather="file-text"></span>
        Apostilas</a>
      <a class="bd-toc-link" href="{% url 'quiz_index' %}">
        <span data-feather="file"></span>
        Exercícios</a>
      <a class="bd-toc-link" href="{% url 'simulado_lista' %}">
        <span data-feather="layers"></span>
        Simulados</a>
      <a class="bd-toc-link" href="{% url 'quiz_progress' %}">
        <span data-feather="bar-chart-2"></span>
        Progresso</a>
      <a class="bd-toc-link" href="{% url 'perfil' %}">
        <span data-feather="users"></span>
        Perfil</a>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <!-- <span>Favoritos</span>
            <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a> -->
        </h6>

    </div>
  </nav>

</div>

{% endblock %}
