{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mairimed</title>
    <meta name="description" content="O projeto mairimed tem o objetivo de fornecer conteúdo adequado para estudantes e profissionais da área da saúde.">
    <meta name="KEYWORDS" content="resumos de medicina, medicina, residência médica, exercícios de medicina" >

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113535136-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113535136-1');
    </script>

    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5705627321786233",
        enable_page_level_ads: true
      });
    </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap4.css' %}">
    <!-- Custom styles-->
    <link rel="stylesheet" href="{% static 'css/materia.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar2.css' %}">
    <link rel="stylesheet" href="{% static 'css/headings.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/adsense_artigos.css' %}">
    <link rel="stylesheet" href="{% static 'css/bot.css' %}"/>

    <!-- Documentation extras -->
    <link rel="stylesheet" href="{% static 'css/docs.min.css' %}">

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/megamenu.js' %}"></script>

    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">

    <!-- Icon for FF, Chrome, Opera -->
    <link rel="icon" type="image/png" href="{% static 'img/mairimed_logo1.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'img/mairimed_logo1.png' %}" sizes="32x32">

    <!-- Chatbot -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  </head>

  <body style="background-color:#EDEDED">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light static">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- LOGO -->
    <a class="navbar-brand" href="{% url 'inicio' %}" style="float:left; padding-left:30">
      <img src="{% static 'img/mairimed_logo6.svg' %}" width="180" height="55" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="dropdown">
            <button class="dropbtn" style="padding-left:60px; padding-right:60px"><a href="{% url 'educacao_medica' %}">EDUCAÇÃO MÉDICA</a></button>
            <div class="dropdown-content">
              <div class="row">
              	<div class="col-md-12">
                  <a href="{% url 'educacao_medica' %}">INÍCIO</a>
              		<a href="{% url 'ciclo_basico' %}">CICLO BÁSICO</a>
                  <a href="{% url 'ciclo_clinico' %}">CICLO CLÍNICO</a>
                  <a href="{% url 'exercicios' %}">EXERCÍCIOS</a>
              	</div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="dropbtn" style="padding-left:60px; padding-right:60px"><a href="{% url 'escs' %}">ESCS</a></button>
          </div>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="dropbtn" style="padding-left:60px; padding-right:60px"><a href="{% url 'chat' %}">ASSISTENTE</a></button>
          </div>
        </li>
      </ul> -->
    </div>
    <form class="form-inline my-2 my-lg-0" type="get" action="">
      {% if request.user.is_authenticated %}
        <a href="{% url 'conectado' %}" class="btn btn-light">Área Exclusiva</a>
        <!-- <p style="color: white">{{user}}. <a style="color: white" href="{% url 'conectado' %}" >Minha Conta</a> </p> -->
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-light">Entrar</a>
      {% endif %}
    </form>
  </nav>

  <div class="container">

    {% block content %}
    {% endblock %}

  </div><!-- /.container -->

  <!-- FOOTER -->
  <footer class="blog-footer">
   <div class="container">
     <p><a href="{% url 'termos_uso' %}">Termos de uso</a></p>
     <p><a href="{% url 'sobre' %}">Sobre mairimed.com</a></p>
     <p><a href="{% url 'contactus' %}">Contato</a></p>
     <p>&copy; 2017-2018 mairimed.com</p>
   </div>
  </footer>


    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.17/marked.min.js"> </script>
    <!-- Markdown JavaScript-->
    <script src="{% static 'js/markdown.js' %}"></script>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script>
      var chatterbotUrl = '{% url "chatterbot" %}';
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');

      function createRow(text) {
        var $row = $('<li class="list-group-item"></li>');

        $row.text(text);
        $chatlog.append($row);
      }

      function submitInput() {
        var inputData = {
          'text': "Você: "+$input.val()
        }

        // Display the user's input on the web page
        createRow(inputData.text);

        var $submit = $.ajax({
          type: 'POST',
          url: chatterbotUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            createRow(statement.text);

            // Clear the input field
            $input.val('');

            // Scroll to the bottom of the chat interface
            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });
    </script>

  </body>
</html>
