<!doctype html>
{% extends "assistente_base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-2">
    <div class="anuncio-top">
      <p style="font-size: 12px; color: #666; text-align: center; margin-top: 25px;">PUBLICIDADE</p>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- anuncio1 -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5705627321786233"
         data-ad-slot="5686167727"
         data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>

  <!-- CONTEUDO -->
  <main class="col-md-8" role="main">

    <div class="mairi-card" style="background-color:#009688">
      <h1 style="color: #fff; margin-bottom:15px; margin-top:25px; text-align:center; font-weight:bold">ALIMENTOS</h1>
    </div>

    <div class="artigo mairi-card">

      <hr style="background-color:#009688; margin-bottom:25px">

      {% for alimento in alimentos_list %}
        <h3 style="margin-left:15px"><a href="{% url 'detalhe_alimento' slug=alimento.url %}">
        {{ alimento.nome }}
        </a></h3>
        <hr>
      {% endfor %}

    </div>

  </main>

  <div class="col-md-2">
    <div class="anuncio-top">
      <p style="font-size: 12px; color: #666; text-align: center; margin-top: 25px;">PUBLICIDADE</p>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- anuncio1 -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5705627321786233"
         data-ad-slot="5686167727"
         data-ad-format="auto"></ins>
      <script>
      </ul>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>

</div>

{% endblock %}
