<!doctype html>
{% extends "inicio_base.html" %}
{% load staticfiles %}

{% block form-nav %}

{% endblock %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">
  <ul class="section-nav">
    <p style="font-size: 12px; color: #666; text-align: center;">PUBLICIDADE</p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- anuncio1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5705627321786233"
       data-ad-slot="5686167727"
       data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </ul>
</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 bd-content" role="main">
  <div class="anuncio-top">
    <p style="font-size: 12px; color: #666; text-align: center;">PUBLICIDADE</p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- anuncio1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5705627321786233"
       data-ad-slot="5686167727"
       data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="artigo">

    <h1>{{ materia.titulo }}</h1>

    {% if materia.top1 %}
      <h5>{{ materia.top1 }}</h5>
    {% endif %}
    <!-- {% if materia.figura_maior %}
      <img src="{{ materia.figura_maior.url }}" width="130" />
    {% endif %} -->

    <div class="artigo content-markdown"><p>{{ materia.texto1 }}</p></div>
  </div>

</main>
{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2" id="mais-sobre">

  {% if materia.patologia %}
    <div class="propaganda">
      <h1>Mais sobre {{ materia.patologia }}</h1>
        {% for mat in materia_list %}
          {% if mat.patologia|stringformat:"s" == materia.patologia|stringformat:"s" %}
          <div class="topicosdiv">
            <a href="{% url 'detalhe_materia' slug=mat.url %}"><img src="{{ mat.figura_maior.url }}" height='50' width="50"></a>
            <p style="margin-left:15px"><a href="{% url 'detalhe_materia' slug=mat.url %}">
            {{ mat.titulo }}
            </a></p>
          </div>
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}

</div>

{% endblock %}
