<!doctype html>
{% extends "assistente_base.html" %}

{% block content %}

<div class="row">

  <div class="col-md-2">
    <div class="anuncio-top">
      <p style="font-size: 12px; color: #666; text-align: center; margin-top: 25px;">PUBLICIDADE</p>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- anuncio1 -->
      <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5705627321786233"
         data-ad-slot="5686167727"
         data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>

<!-- CONTEUDO -->
<main class="col-md-8" role="main">

  <div class="mairi-card" style="background-color:#ff9400ff">
    <h1 style="color: #fff; margin-bottom:15px; margin-top:25px; text-align:center; font-weight:bold">{{patologia.patologia}}</h1>
  </div>

  <div class="artigo mairi-card">

    <hr style="background-color:#ff9400ff; margin-bottom:25px">

    {% for materia in materia_list %}
      {% if patologia.patologia|stringformat:"s" == materia.patologia|stringformat:"s" %}
        <h3 style="margin-left:15px"><a href="{% url 'detalhe_materia' slug=materia.url %}">
          {{ materia.titulo }}
        </a></h3>
        <hr>
      {% endif %}
    {% endfor %}
    <!-- {% if materia.figura_maior %}
      <img src="{{ materia.figura_maior.url }}" width="130" />
    {% endif %} -->

    <p>{{ materia.texto1|linebreaksbr }}</p>
  </div>

</main>

<div class="col-md-2">
  <div class="anuncio-top">
    <p style="font-size: 12px; color: #666; text-align: center; margin-top: 25px;">PUBLICIDADE</p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- anuncio1 -->
    <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5705627321786233"
       data-ad-slot="5686167727"
       data-ad-format="auto"></ins>
    <script>
    </ul>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>

</div>

{% endblock %}
