{% extends "educacao_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block form-nav %}

{% endblock %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <!-- anuncio1 -->
  <div class="anuncio-top">
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5705627321786233"
         data-ad-slot="5686167727"
         data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <div class="artigo">

    {% if previous.answers %}

      <p class="muted"><small>{% trans "A pergunta anterior" %}:</small></p>
      <p>{{ previous.previous_question }}</p>

      {% if previous.previous_outcome %}
    	<div class="alert alert-success">
      {% else %}
    	<div class="alert alert-warning">
      {% endif %}
      	  <p><small>
    		{% trans "Sua resposta foi" %} </small>
    		<strong>
    		  {{ previous.previous_outcome|yesno:"correta,incorreta" }}
    		</strong>
    	  </p>

    	</div>

    	{% include 'correct_answer.html' %}

    	<!-- <p><strong>{% trans "Comentário" %}:</strong></p>
    	<div class="well " style="background-color: #fcf8e3;">
    	  <p>{{ previous.previous_question.explanation }}</p>
    	</div> -->

    	<hr>

    {% endif %}

    <br />

    {% if question %}

    {% if progress %}
    <div style="float: right;">
    {% trans "Questão" %} {{ progress.0|add:1 }} {% trans "de" %} {{ progress.1 }}
    </div>
    {% endif %}

    <p>
      <small class="muted">{% trans "Especialidade" %}:</small>
      <strong>{{ question.especialidade }}</strong><br>
      <small class="muted">{% trans "Tema" %}:</small>
      <strong>{{ question.tema }}</strong><br>
      <small>{{ question.descricao }} - {{ question.ano }}</small>
    </p>

    {% if question.enunciado %}
    <p class="lead">{{ question.enunciado }}</p>
    {% endif %}

    <p class="lead">{{ question.content }}</p>

    {% if question.figure %}
        <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
    {% endif %}

    <form action="" method="POST">{% csrf_token %}
      <input type=hidden name="question_id" value="{{ question.id }}">

      <ul class="list-group">

    	{% for answer in form.answers %}
    	  <li class="list-group-item">
    	    {{ answer }}
    	  </li>
    	{% endfor %}

      </ul>
      <input type="submit" value={% trans "Responder" %} class="btn btn-large btn-block btn-warning" >
    </form>

    {% endif %}

    <hr>

  </div>
</main>

{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">
    {% if request.user.is_authenticated %}
      <a href="{% url 'perfil' %}">
        <!-- <img class="avatar" src="{{ user.perfilestudante.gravatar_url }}"> -->
        <i class="material-icons" style="font-size: 30px; padding-bottom: 3px; vertical-align: middle;">perm_identity</i>
        <span style="" class="name">{{ user.perfilestudante.primeiro_nome }} {{ user.perfilestudante.ultimo_nome }}</span>
      </a>
    {% else %}

    {% endif %}
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'educacao_medica' %}">
        <h1><span data-feather="home"></span> Início</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span> Cíclo Básico</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_clinico' %}">
        <h1><span data-feather="activity"></span> Cíclo Clínico</h1></a>
      <a class="bd-toc-link" href="{% url 'escs' %}">
        <h1><img src="{% static 'img/escs.svg' %}" style="padding-bottom: 3px; vertical-align: middle;" width="40" height="45" alt=""> ESCS</h1></a>
      <a class="bd-toc-link active" href="{% url 'exercicios' %}">
        <h1><span data-feather="clipboard"></span> Exercícios</h1></a>
      {% if request.user.is_authenticated %}
        <a class="bd-toc-link" href="{% url 'simulado_lista' %}">
          <h1><span data-feather="layers"></span> Simulados</h1></a>
        <a class="bd-toc-link" href="{% url 'quiz_progress' %}">
          <h1><span data-feather="bar-chart-2"></span> Desempenho</h1></a>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <!-- <span>Favoritos</span>
            <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a> -->
        </h6>
      {% else %}
        <a class="bd-toc-link not-active" href="{% url 'simulado_lista' %}">
          <h1><span data-feather="layers"></span> Simulados<i class="material-icons" style="font-size: 15px; padding-bottom: 3px; vertical-align: middle;">lock</i></h1></a>
        <a class="bd-toc-link not-active" href="{% url 'quiz_progress' %}">
          <h1><span data-feather="bar-chart-2"></span> Desempenho<i class="material-icons" style="font-size: 15px; padding-bottom: 3px; vertical-align: middle;">lock</i></h1></a>
        <a class="bd-toc-link not-active" href="{% url 'perfil' %}">
          <h1><i class="material-icons" style="font-size: 30px; padding-bottom: 3px; vertical-align: middle;">perm_identity</i>
          Perfil<i class="material-icons" style="font-size: 15px; padding-bottom: 3px; vertical-align: middle;">lock</i></h1></a>
      {% endif %}
    </div>
  </nav>

</div>

{% endblock %}
