{% extends 'exercicios/exercicio_base.html' %}
{% load i18n %}

{% block form-nav %}

{% endblock %}

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc">

</div>

<!-- CONTEUDO -->
<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <!-- anuncio1 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-5705627321786233"
       data-ad-slot="5686167727"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <div class="artigo">

    {% if previous.answers %}

      <p class="muted"><small>{% trans "A pergunta anterior" %}:</small></p>
      <p>{{ previous.previous_question }}</p>

      {% if previous.previous_outcome %}
    	<div class="alert alert-success">
      {% else %}
    	<div class="alert alert-warning">
      {% endif %}
      	  <p><small>
    		{% trans "Sua resposta foi" %} </small>
    		<strong>
    		  {{ previous.previous_outcome|yesno:"correta,incorreta" }}
    		</strong>
    	  </p>

    	</div>

    	{% include 'correct_answer.html' %}

    	<!-- <p><strong>{% trans "Comentário" %}:</strong></p>
    	<div class="well " style="background-color: #fcf8e3;">
    	  <p>{{ previous.previous_question.explanation }}</p>
    	</div> -->

    	<hr>

    {% endif %}

    <br />

    {% if question %}

    {% if progress %}
    <div style="float: right;">
    {% trans "Questão" %} {{ progress.0|add:1 }} {% trans "de" %} {{ progress.1 }}
    </div>
    {% endif %}

    <p>
      <small class="muted">{% trans "Especialidade" %}:</small>
      <strong>{{ question.especialidade }}</strong><br>
      <small>{{ question.descricao }} - {{ question.ano }}</small>
    </p>

    {% if question.enunciado %}
    <p class="lead">{{ question.enunciado }}</p>
    {% endif %}

    <p class="lead">{{ question.content }}</p>

    {% if question.figure %}
        <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
    {% endif %}

    <form action="" method="POST">{% csrf_token %}
      <input type=hidden name="question_id" value="{{ question.id }}">

      <ul class="list-group">

    	{% for answer in form.answers %}
    	  <li class="list-group-item">
    	    {{ answer }}
    	  </li>
    	{% endfor %}

      </ul>
      <input type="submit" value={% trans "Responder" %} class="btn btn-large btn-block btn-warning" >
    </form>

    {% endif %}

    <hr>

  </div>
</main>

{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2">


</div>

{% endblock %}
