{% extends "exercicios/exercicio_base.html" %}
{% load staticfiles%}
{% load hitcount_tags %}
{% load i18n %}

<!-- PAGINA PARA USUARIO -->

{% block content %}

<!-- BARRA DIREITA -->
<div class="d-none d-xl-block col-xl-2 bd-toc" >

</div>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

  <div class="texto-centro">
    <h1>{% trans "Lista de Exercícios" %}</h1>
  </div>
  <div class="artigo">
    {% if quiz_list %}
		<table class="table table-bordered table-striped">

		  <thead>
			<tr>
			  <th>{% trans "Tema" %}</th>
			  <th>{% trans "Especialidade" %}</th>
			  <!-- <th>{% trans "Simulado" %}</th>
			  <th>{% trans "Uma tentativa permitida" %}</th> -->
			  <th></th>
			</tr>
		  </thead>

		  <tbody>

        {% for quiz in quiz_list %}
          {% if quiz.exam_paper == False %}
          <tr>
    			  <td>{{ quiz.title }}</td>
    			  <td>{{ quiz.especialidade }}</td>
    			  <!-- <td>{{ quiz.exam_paper }}</td>
    			  <td>{{ quiz.single_attempt }}</td> -->
    			  <td>
    				<a href="{% url 'exercicio_iniciado' quiz_name=quiz.url %}">
    				  {% trans "Iniciar" %}
    				</a>
    			</tr>

          {% endif %}

        {% endfor %}
		  </tbody>

		</table>

	{% else %}
        <p>{% trans "Não há exercícios disponíveis" %}.</p>
    {% endif %}
  </div>
</main>

{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

</div>

{% endblock %}
