<!doctype html>
{% extends "conta_base.html" %}
{% load i18n %}
{% load staticfiles%}

{% block content %}

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

  <div class="texto-centro">
    <h1>{{ user.perfilusuario.primeiro_nome }} {{ user.perfilusuario.ultimo_nome }}</h1>
  </div>

  <div class="artigo">
    <h4>Dados gerais</h4>
    <p>Email: {{ user }}</p>
    <p>Nome: {{ user.perfilusuario.primeiro_nome }}</p>
    <p>Último nome: {{ user.perfilusuario.ultimo_nome }}</p>

    <p>
      Perguntas
      {% for user, pergunta in obj %}
      {{ user.pergunta_count}}
      {% endfor %}
    </p>

    <p>
      Respostas
      {% for user, comentario in obj_comentarios %}
      {{ user.comentario_count}}
      {% endfor %}
    </p>

    <!-- <h4>Credenciais</h4>
    <p>Se você é um profissional de saúde, <a href="#">aperte aqui para atualizar seu perfil</a></p> -->

    <a href="{% url 'delete_user' pk=user.pk %}">Apagar Conta</a>
  </div>

</main>

{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">

      <a href="{% url 'perfil_saude' %}">
        <!-- <img class="avatar" src="{{ user.perfilusuario.gravatar_url }}"> -->
        <i class="material-icons" style="font-size: 30px; padding-bottom: 3px; vertical-align: middle;">perm_identity</i>
        <span style="" class="name">{{ user.perfilusuario.primeiro_nome }} {{ user.perfilusuario.ultimo_nome }}</span>
      </a>

    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="{% url 'editar_perfil' user_id=user.perfilusuario.user_id %}">
        <h1><span data-feather="home"></span> Alterar Dados</h1></a>
      <a class="bd-toc-link" href="{% url 'change_password' %}">
        <h1><span data-feather="book-open"></span> Alterar Senha</h1></a>
    </div>
  </nav>

</div>

{% endblock %}
