<!doctype html>
{% extends "educacao_base.html" %}
{% load i18n %}
{% load staticfiles%}

{% block form-nav %}

<ul class="navbar-nav px-3">
  <li class="nav-item text-nowrap">
      <a href="{% url 'usuarios' %}" class="btn btn-outline-light">Perfis Publicos</a>
  </li>
  {% if request.user.is_authenticated %}
  <li class="nav-item text-nowrap">
      <a href="{% url 'logout' %}" class="btn btn-outline-light">Sair</a>
  </li>
  {% else %}
  <li class="nav-item text-nowrap">
      <a href="{% url 'entrar' %}" class="btn btn-outline-light">Entrar</a>
  </li>
  {% endif %}
</ul>

{% endblock %}

{% block content %}

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">

  <div class="texto-centro">
    <h1>{{ user.perfilestudante.primeiro_nome }} {{ user.perfilestudante.ultimo_nome }}</h1>
  </div>

  <div class="artigo">
    <p>Email: {{ user }}</p>
    <p>Nome: {{ user.perfilestudante.primeiro_nome }}</p>
    <p>Último nome: {{ user.perfilestudante.ultimo_nome }}</p>
    <p>Faculdade: {{ user.perfilestudante.get_faculdade_display }}</p>

    <p>
      Perguntas
      {% for user, pergunta in obj %}
      {{ user.pergunta_count}}
      {% endfor %}
    </p>

    <p>
      Respostas
      {% for user, comentario in obj_comentarios %}
      {{ user.comentario_count}}
      {% endfor %}
    </p>


    <a href="{% url 'editar_perfil' user_id=user.perfilestudante.user_id %}">Atualizar Perfil</a><br>
    <a href="{% url 'change_password' %}">Alterar Senha</a><br>
    <a href="{% url 'delete_user' pk=user.pk %}">Apagar Conta</a>
  </div>

  <div class="artigo">
    <h1>Minhas Perguntas</h1>
    {% for pergunta in perguntas %}
    <div class="artigo">
        <h4>{{ pergunta.content }}</h4>
        <a href="{% url 'usuario_publico' pk=pergunta.user.pk %}">
            <small>{{ pergunta.user.perfilestudante.primeiro_nome }} {{ pergunta.user.perfilestudante.ultimo_nome }}</small>
        </a>
        <br>
        {% if request.user == pergunta.user %}
          <a href="{% url 'deletar_pergunta' pk=pergunta.id %}">Deletar</a>
        {% endif %}

      <h6>Respostas</h6>

      {% for comentario in comentarios %}
          {% if pergunta.id == comentario.object_id %}
          <blockquote>
            <p>{{ comentario.conteudo }}</p>
            <footer>{{ comentario.user.perfilestudante.primeiro_nome }} {{ pergunta.user.perfilestudante.ultimo_nome }} há {{ comentario.data|timesince}}</cite></footer>
            {% if request.user == comentario.user %}
              <a href="{% url 'deletar_comentario' pk=comentario.id %}">Deletar</a>
            {% endif %}
          </blockquote>
          {% endif %}
      {% endfor %}

      <form class="" action="." method="post"> {% csrf_token %}
        {{ comentario_form }}
        <input type="hidden" name="object_id" value="{{ pergunta.id }}">
        <input type="submit" name="" value="Responder" class="btn btn-default">
      </form>

    </div>
    {% endfor %}
  </div>

</main>

{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2 bd-sidebar">

  <div class="bd-search d-flex align-items-center">

      <a href="{% url 'perfil' %}">
        <!-- <img class="avatar" src="{{ user.perfilestudante.gravatar_url }}"> -->
        <i class="material-icons" style="font-size: 30px; padding-bottom: 3px; vertical-align: middle;">perm_identity</i>
        <span style="" class="name">{{ user.perfilestudante.primeiro_nome }} {{ user.perfilestudante.ultimo_nome }}</span>
      </a>

    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
    </button>
  </div>

  <nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
      <a class="bd-toc-link" href="/">
        <h1><span data-feather="home"></span> Perguntas</h1></a>
      <a class="bd-toc-link" href="{% url 'educacao_medica' %}">
        <h1><span data-feather="book-open"></span>Educação Médica</h1></a>
      <a class="bd-toc-link" href="{% url 'diretrizes_in' %}">
        <h1><span data-feather="book-open"></span>Diretrizes</h1></a>
      <!-- <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span>Controles</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span>Exames</h1></a>
      <a class="bd-toc-link" href="{% url 'ciclo_basico' %}">
        <h1><span data-feather="book-open"></span>Prescrições</h1></a> -->
    </div>
  </nav>

</div>

{% endblock %}
