{% extends "inicio_base.html" %}

{% block content %}
<main class="col-12 col-md-9 col-xl-8 bd-content" role="main">
    <div class="artigo">
        <h2 class="title">Entre em contato conosco</h2>
        <br />
        <form action="." method="post" name="feedback" class="form-horizontal">{% csrf_token %}
            <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                <h3 for="name" class="col-sm-2 control-label">Nome</h3>
                <div class="col-sm-6">
                    <input type="text" name="name" class="form-control"
                    value="{% if form.data.name %}{{form.data.name}}{% else %}{{form.initial.name}}{% endif %}" />
                    <p class="help-block">Nome é um campo necessário.</p>
                </div>
            </div>
            <div class="visualclear"></div>
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                <h3 for="email" class="col-sm-2 control-label">E-mail</h3>
                <div class="col-sm-6">
                    <input class="form-control" type="text" name="email"
                     value="{% if form.data.email %}{{form.data.email}}{% else %}{{form.initial.email}}{% endif %}" />
                    <div class="visualclear"></div>
                    <p class="help-block">Um e-mail válido é necessário.</p>
                </div>
            </div>
            <br />
            <div class="visualclear"></div>
            <div class="form-group {% if form.subject.errors %}has-error{% endif %}">
                <h3 for="subject"  class="col-sm-2 control-label">Assunto</h3>
                <div class="col-sm-6">
                    {{form.subject}}
                    <p class="help-block">Assunto é um campo necessário.</p>
                </div>
            </div>
            <br />
            <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                <h3 for="description" class="col-sm-2 control-label">Descrição</h3>
                <div class="col-sm-6">
                    {{form.description}}
                    <p class="help-block">Descrição é um campo necessário.</p>
                </div>
            </div>
            <!-- <div class="form-group {% if form.decoy.errors %}has-error{% endif %}">
                <input type="text" name="decoy" value="" placeholder="Please leave blank" autofill="off" />
                <p class="help-block decoy">If you can see the decoy field, please leave it blank.</p>
            </div> -->

            <div class="row">
                <div class="col-sm-8">
                    <input class="btn btn-primary pull-right" type="submit" value="Enviar Menssagem"/>
                </div>
            </div>
        </form>
    </div>
  </main>
{% endblock %}

{% block barra-esquerda %}

<div class="col-12 col-md-3 col-xl-2" id="mais-sobre">

</div>

{% endblock %}

{% block css %}
    <style>
        .form-group .help-block {
            display: none;
        }
        .form-group.has-error .help-block {
            display: block;
        }
        input[name='decoy'],
        p.decoy {
            display: none !important;
        }

    </style>
{% endblock %}
